/oldver/

Sources/src/main/resources/application.properties
Sources/src/main/kotlin/com/prunusnira/gitadorainfo/data/SecretConst.kt
Sources/src/main/resources/templates/login.html

/Sources/build
/Sources/bin/
/Sources/gradle/
/Sources/.gradle
/Sources/.settings
!/Sources/gradle/wrapper/gradle-wrapper.jar

.git