/*****************************************************
 * GITADORA Info Server
 * Developed by Tae Jun Kang a.k.a Prunus Nira
 * (c) Nira 2016
 *
 * 1. This project is protected under GNU AGPL v3.0
 *    Please refer to LICENSE file on root
 * 2. Also, products and libraries used to implement
 *    this server are on USED-LIBRARIES file on root
 *****************************************************/
 .piu-namebg {
	
}

.div-lineadd {
	border-bottom: 1px solid lightgrey;
}

.div-pattern {
	border: 1px solid lightgrey;
	padding: 1px;
}

.piu-left {
	font-size: 200%;
	border: solid 1px;
	text-align: center;
	color: white;
	width: 100%;
}