<!-- /*****************************************************
 * GITADORA Info Server
 * Developed by Tae Jun Kang a.k.a Prunus Nira
 * (c) Nira 2016
 *
 * 1. This project is protected under GNU AGPL v3.0
 *    Please refer to LICENSE file on root
 * 2. Also, products and libraries used to implement
 *    this server are on USED-LIBRARIES file on root
 *****************************************************/ -->
 <!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="google-signin-client_id"
      content="signin_client_id.apps.googleusercontent.com">
    <link rel="icon" href="/favicon.ico">

    <script src="/function/language.js"></script>
	<script src="/function/language/cntrank.js"></script>
    <title>GITADORA Info</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
	<!-- Custom css -->
	<link href="/css/custom/header.css" rel="stylesheet">
	<link href="/css/custom/footer.css" rel="stylesheet">
	<link href="/css/custom/table.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
	
	<!-- Google Adsense -->
	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<script>
		(adsbygoogle = window.adsbygoogle || []).push({
			google_ad_client: "ca-pub-adsense_id",
			enable_page_level_ads: true
		});
	</script>
  </head>

  <body>
  	<section class="container" id="loading">
  		<h1>LOADING... Please wait</h1>
  	</section>
  	
  	<section class="container">
  		<div class="pagetop text-center">
    		<h3>Playcount Ranking</h3>
    		<span><script>document.write(txtCntrank.desc[lang]);</script></span>
    	</div>
  	</section>
  	
  	<c:set var="index" value="1" />
  	
  	<section class="container">
		<div class='div-table' id="ranktable">
			<cntrank-table v-for="cnt in cntlist" v-bind:cnt="cnt"></cntrank-table>
		</div>
		<div class='row text-center' id="pager"></div>
  	</section>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
	<script src="/js/jquery-3.3.1.min.js"></script>
	<script src="/js/vue.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/function/towertitle.js"></script>
	<script src="/function/pager.js"></script>
    <script src="/function/overall.js"></script>
    <script src="https://apis.google.com/js/platform.js?onload=gsignLoad" async defer></script>
    <div style='display:none'>
		<form action='/logout' id='logout' method='post'>
		</form>
	</div>

	<template id='cntrank-template'>
		<div class='div-table-row table-border-bottom'>
			<div class='div-table-cell'>
				{{ cnt.index }}
			</div>
			<div class='div-table-cell'>
				<div class='row'>
					<div class='col-12 col-md-5 text-left'>
						<span id="towertitle" v-html="cnt.towertitle"></span>
						<a class="innerhref" v-bind:href="cnt.prlink">{{ cnt.name }}</a>
					</div>
					<div class='col-12 col-md-7 text-right'>
						<div class="row">
							<div class="col-3">G {{ cnt.gfcnt }}</div>
							<div class="col-1">+</div>
							<div class="col-3">D {{ cnt.dmcnt }}</div>
							<div class="col-1">=</div>
							<div class="col-3">A {{ cnt.allcnt }}</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</template>

	<script th:inline="javascript">
	Vue.component('cntrank-table', {
		template: '#cntrank-template',
		props: {
			cnt: Object
		}
	});

	var vmCnt = new Vue({
		el: '#ranktable',
		data: {
			cntlist: []
		},
		created: function() {
			var self = this;
			var page = /*[[ ${page} ]]*/1;
			$.ajax("/d/cntrank/"+page)
			.done(function(data) {
				var json = JSON.parse(data);
				
				for(var i = 0; i < json.rank.length; i++) {
					var obj = {};
					var cur = json.rank[i];
					obj.index = 30*(page - 1)+i+1;

					if(cur.opencount == "Y") {
						if(cur.titletower == '') {
							obj.towertitle = '';
						}
						else {
							obj.towertitle = "<img class='towertitle35' src='/img/title/"+cur.titletower+".png'>";
						}
						obj.prlink = "/profile/"+cur.id;
						obj.name = cur.name;
					}
					else {
						obj.towertitle = '';
						obj.prlink = "";
						obj.name = txtCntrank.table.emptyname[lang];
					}

					obj.gfcnt = cur.countgf;
					obj.dmcnt = cur.countdm;
					obj.allcnt = cur.countgf + cur.countdm;

					self.cntlist.push(obj);
				}

				$("#pager").append(createPager(json.page, json.pages, '/cntrank/', ''));
				$("#loading").hide();
			});
		}
	});
	
	//signout
	function gsignLoad() {
		gapi.load('auth2', function() {
			gapi.auth2.init();
		});
	}
	
	function signOut() {
		var auth2 = gapi.auth2.getAuthInstance();
		auth2.signOut().then(function() {
			console.log('User signed out.');
		});
		$("#logout").submit();
	}
	</script>
	<div th:insert="header :: header"></div>
	<div th:insert="footer :: footer"></div>
	<script src="/function/menu.js"></script>
  </body>
</html>
