/*****************************************************
 * GITADORA Info Server
 * Developed by Tae Jun Kang a.k.a Prunus Nira
 * (c) Nira 2016
 *
 * 1. This project is protected under GNU AGPL v3.0
 *    Please refer to LICENSE file on root
 * 2. Also, products and libraries used to implement
 *    this server are on USED-LIBRARIES file on root
 *****************************************************/

body {
    padding-top: 75px;
    margin-bottom: 250px;
}
  
.navbar {
    margin-bottom: 20px;
}

.navicon {
    width: 32px;
    height: 32px;
    display: float;
    margin-right: 10px;
}

.search-dropdown {
	display: none;
}

/* 플로팅 메뉴 아이콘 */
@media (min-width: 992px) {
	.floatter {
	  position: fixed;
	  top: 100px;
	  right: 24px;
	  height: 70px;
	  z-index: 999;
	}
	
	.btn-float {
	  display: inline-block;
	  width: 100px;
	  height: 100px;
	  line-height: 40px;
	  background-color: transparent;
	  vertical-align: middle;
	  text-decoration: none;
	  text-align: center;
	  transition: 0.2s ease-out;
	  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
	  cursor: pointer;
	  color: #FFF;
	}
}