/*****************************************************
 * GITADORA Info Server
 * Developed by Tae Jun Kang a.k.a Prunus Nira
 * (c) Nira 2016
 *
 * 1. This project is protected under GNU AGPL v3.0
 *    Please refer to LICENSE file on root
 * 2. Also, products and libraries used to implement
 *    this server are on USED-LIBRARIES file on root
 *****************************************************/

@media screen and (min-width: 992px) {
    .sidenav2 {
        display: none;
    }

    .sidenav {
        display: block;
        height: 100%;
        width: 300px;
        position: fixed;
        z-index: 1000;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        padding-top: 60px;
        transition: 0.5s;
    }

    .sidenav a {
        padding: 8px 8px 8px 32px;
        display: block;
        transition: 0.3s;
        text-decoration: none;
    }

    .sidenav a > span {
        font-size: 15px;
        color: #818181;
    }

    .sidenav a:hover {
        color: #ffffff;
    }

    .sidenav .navicon {
        width: 32px;
        height: 32px;
    }

    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }

    .header-dropdown {
        width: 100%;
        background-color: #f1f1f1;
        display: none;
    }

    .header-dropdown a {
        color: black;
        font-size: 11px;
    }

    .header-dropdown a:hover {
        color: gray;
    }

    #main {
        transition: margin-left .5s;
        padding: 20px;
    }

    body {
        padding-top: 0;
        padding-left: 80px;
        margin-bottom: 250px;
    }
}

@media screen and (max-width: 992px) {
    .sidenav {
        display: none;
    }

    .sidenav2 {
        display: block;
        height: 50px;
        width: 100%;
        position: fixed;
        z-index: 1000;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        transition: 0.5s;
        text-align: center;
    }

    .sidenav2 a {
        padding: 5px 5px 5px 5px;
        text-decoration: none;
        font-size: 15px;
        color: #818181;
        display: inline-block;
        transition: 0.3s;
    }

    .sidenav2 a:hover span {
        color: #818181;
    }

    .sidenav2 .navtext {
        color: #2745cc;
        font-size: 15px;
    }

    .sidenav2 a:hover span {
        color: #818181;
    }

    .sidenav2 .navicon {
        width: 32px;
        height: 32px;
    }

    .sidenav2 #navsub {
        width: 100%;
        height: 0;
        text-align: center;
    }

    .header-dropdown2 {
        background-color: #f1f1f1;
        height: auto;
    }

    .header-dropdown2 a {
        color: black;
        font-size: 11px;
    }

    .header-dropdown2 a:hover {
        color: gray;
    }

    #main {
        transition: margin-left .5s;
        padding: 20px;
    }

    body {
        padding-top: 75px;
        padding-left: 0;
        margin-bottom: 250px;
    }
}

/* 플로팅 메뉴 아이콘 */
@media (min-width: 992px) {
	.floatter {
	  position: fixed;
	  top: 100px;
	  right: 24px;
	  height: 70px;
	  z-index: 999;
	}
	
	.btn-float {
	  display: inline-block;
	  width: 100px;
	  height: 100px;
	  line-height: 40px;
	  background-color: transparent;
	  vertical-align: middle;
	  text-decoration: none;
	  text-align: center;
	  transition: 0.2s ease-out;
	  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
	  cursor: pointer;
	  color: #FFF;
	}
}