<!-- /*****************************************************
 * GITADORA Info Server
 * Developed by Tae Jun Kang a.k.a Prunus Nira
 * (c) Nira 2016
 *
 * 1. This project is protected under GNU AGPL v3.0
 *    Please refer to LICENSE file on root
 * 2. Also, products and libraries used to implement
 *    this server are on USED-LIBRARIES file on root
 *****************************************************/ -->
 <!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<meta name="description" content="">
<meta name="author" content="">
<meta name="google-signin-client_id"
	content="clientid.apps.googleusercontent.com">
<link rel="icon" href="/favicon.ico">

<script src="/function/language.js"></script>
<script src="/function/language/comp.js"></script>
<title>GITADORA Info</title>

<!-- Bootstrap core CSS -->
<link href="/css/bootstrap.min.css" rel="stylesheet">
<!-- Custom css -->
<link href="/css/custom/header.css" rel="stylesheet">
<link href="/css/custom/footer.css" rel="stylesheet">
<link href="/css/custom/table.css" rel="stylesheet">
<link href="/css/custom/filter.css" rel="stylesheet">
<link href="/css/custom/skillcolor.css" rel="stylesheet">
<link href="/css/custom/skillcolor-rainbow.css" rel="stylesheet">

<script type="text/javascript" src="/js/d3.js"></script>
<script type="text/javascript" src="/js/c3.js"></script>
<link href="/css/c3.css" rel="stylesheet" type="text/css">

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
	
	<!-- Google Adsense -->
	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<script>
		(adsbygoogle = window.adsbygoogle || []).push({
			google_ad_client: "ca-pub-adsenseid",
			enable_page_level_ads: true
		});
	</script>
</head>

<body>
	<section class="container">
		<div class="row">
			<div class="col-12">
				<div class="card">
					<div class="card-header">
						<h3>Comparison</h3>
					</div>
					<div class="card-body">
						<div class="row btn-group" id="toplink"></div>
						<div class="row">
							<div class="col-12">
								<span id='gtype' th:attr='data-gtype=${gtype}'></span>
								<a style="width: 100%;" class="btn btn-warning" href="#"
									onclick="scrShot('#targetTable', 'versus_'+document.getElementById('gtype').dataset.gtype+'.png')">
									<script>document.write(txtComp.scrshot[lang]);</script>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row" id="targetTable">
			<div class="col-12">
				<div class="card">
					<div class="card-header">
						<h3><script>document.write(txtComp.title[lang]);</script></h3>
						<p id="topvs" style="font-size: 150%;"></p>
					</div>
					<div class="card-body">
						<div class='row text-center' style="font-face: bold;">
							<div class='col-5'>
								<div class='row'>
									<div class='col-6'>My GF</div>
									<div class='col-6'>My DM</div>
								</div>
							</div>
							<div class='col-2'></div>
							<div class='col-5'>
								<div class='row'>
									<div class='col-6'>Opponent GF</div>
									<div class='col-6'>Opponent DM</div>
								</div>
							</div>
						</div>
						<div id="topskill" class='row text-center blackandwhite' style="font-size: 120%;"></div>
					</div>
				</div>
				<div class="card">
					<div class="card-header">
						<h3><script>document.write(txtComp.status[lang]);</script></h3>
					</div>
					<div class="card-body">
						<div class="row text-center" style="text-align: center; font-size: 120%;">
							<div class="col-4 table-cell-profile">
								<script>document.write(txtComp.comp.win[lang]);</script>
							</div>
							<div class="col-4 table-cell-profile">
								<script>document.write(txtComp.comp.lose[lang]);</script>
							</div>
							<div class="col-4">
								<script>document.write(txtComp.comp.draw[lang]);</script>
							</div>
						</div>
						<div class="row text-center" style="font-size: 120%;">
							<div class="col-4 table-cell-profile" id="wlwin"></div>
							<div class="col-4 table-cell-profile" id="wllose"></div>
							<div class="col-4 table-cell-profile" id="wldraw"></div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-12">
				<div class="card">
					<div class="card-header">
						<h3>Option Table</h3>
					</div>
					<div class="card-body">
						<!-- Filter and Orders -->
						<div id='filters' class='filters'>
							<div id='filterShowHide' class='filter-front'>
								<a href='#' onclick='showfilter(1)'>
									<h3 style="font-size: 200%">Filter Show</h3>
									<script>document.write(text.other.filter[lang])</script>
								</a>
							</div>
							<form id='filterform'>
								<div id='filter' style="display: none;">
									<div class='filter-front'>Level</div>
									<div class='filter-back div-table'>
										<div class='div-table-row'>
											<div class='div-table-cell filter-obj'>
												<label><input type='checkbox' name='lv[]' value='1'>1.0~</label>
											</div>
											<div class='div-table-cell filter-obj'>
												<label><input type='checkbox' name='lv[]' value='2'>1.5~</label>
											</div>
											<div class='div-table-cell filter-obj'>
												<label><input type='checkbox' name='lv[]' value='4'>2.0~</label>
											</div>
											<div class='div-table-cell filter-obj'>
												<label><input type='checkbox' name='lv[]' value='8'>2.5~</label>
											</div>
											<div class='div-table-cell filter-obj'>
												<label><input type='checkbox' name='lv[]' value='16'>3.0~</label>
											</div>
											<div class='div-table-cell filter-obj'>
												<label><input type='checkbox' name='lv[]' value='32'>3.5~</label>
											</div>
											<div class='div-table-cell filter-obj'>
												<label><input type='checkbox' name='lv[]' value='64'>4.0~</label>
											</div>
											<div class='div-table-cell filter-obj'>
												<label><input type='checkbox' name='lv[]' value='128'>4.5~</label>
											</div>
											<div class='div-table-cell filter-obj'>
												<label><input type='checkbox' name='lv[]' value='256'>5.0~</label>
											</div>
											<div class='div-table-cell filter-obj'>
												<label><input type='checkbox' name='lv[]' value='512'>5.5~</label>
											</div>
											<div class='div-table-cell filter-obj'>
												<label><input type='checkbox' name='lv[]' value='1024'>6.0~</label>
											</div>
											<div class='div-table-cell filter-obj'>
												<label><input type='checkbox' name='lv[]' value='2048'>6.5~</label>
											</div>
											<div class='div-table-cell filter-obj'>
												<label><input type='checkbox' name='lv[]' value='4096'>7.0~</label>
											</div>
											<div class='div-table-cell filter-obj'>
												<label><input type='checkbox' name='lv[]' value='8192'>7.5~</label>
											</div>
											<div class='div-table-cell filter-obj'>
												<label><input type='checkbox' name='lv[]' value='16384'>8.0~</label>
											</div>
											<div class='div-table-cell filter-obj'>
												<label><input type='checkbox' name='lv[]' value='32768'>8.5~</label>
											</div>
											<div class='div-table-cell filter-obj'>
												<label><input type='checkbox' name='lv[]' value='65536'>9.0~</label>
											</div>
											<div class='div-table-cell filter-obj'>
												<label><input type='checkbox' name='lv[]' value='131072'>9.5~</label>
											</div>
										</div>
									</div>
									<div class='filter-rank'>
										<div class='filter-front'>My Rank</div>
										<div class='div-table-row filter-back'>
											<div class='div-table-cell filter-obj'>
												<label><input type='checkbox' name='rank[]' value='128'>Excellent</label>
											</div>
											<div class='div-table-cell filter-obj'>
												<label><input type='checkbox' name='rank[]' value='64'>SS</label>
											</div>
											<div class='div-table-cell filter-obj'>
												<label><input type='checkbox' name='rank[]' value='32'>S</label>
											</div>
											<div class='div-table-cell filter-obj'>
												<label><input type='checkbox' name='rank[]' value='16'>A</label>
											</div>
											<div class='div-table-cell filter-obj'>
												<label><input type='checkbox' name='rank[]' value='8'>B</label>
											</div>
											<div class='div-table-cell filter-obj'>
												<label><input type='checkbox' name='rank[]' value='4'>C</label>
											</div>
											<div class='div-table-cell filter-obj'>
												<label><input type='checkbox' name='rank[]' value='2'>Failed</label>
											</div>
											<div class='div-table-cell filter-obj'>
												<label><input type='checkbox' name='rank[]' value='1'>Not Played</label>
											</div>
										</div>
									</div>
									<div class='filter-ver'>
										<div class='filter-front'>Version</div>
										<div class='div-table-row filter-back' id='verfilter'></div>
									</div>
									<div class='filter-hot'>
										<div class='filter-front'>Hot/Other</div>
										<div class='div-table-row filter-back'>
											<div class='div-table-cell filter-obj'>
												<label><input type='checkbox' name='hot[]' value='h'>Hot</label>
											</div>
											<div class='div-table-cell filter-obj'>
												<label><input type='checkbox' name='hot[]' value='o'>Other</label>
											</div>
										</div>
									</div>
									<div class='filter-rival'>
										<div class='filter-front'>Win/Lose Status</div>
										<div class='div-table-row filter-back'>
											<div class='div-table-cell filter-obj'>
												<input type='checkbox' name='rival[]' value='1'>Win
											</div>
											<div class='div-table-cell filter-obj'>
												<input type='checkbox' name='rival[]' value='2'>Lose
											</div>
											<div class='div-table-cell filter-obj'>
												<input type='checkbox' name='rival[]' value='4'>Draw
											</div>
										</div>
									</div>
									<div class='order'>
										<div class='filter-front'>Order</div>
										<div class='div-table-row filter-back'>
											<div class='div-table-cell filter-obj'>
												<label><input type='radio' name='order' value='titleasc'>Title
													▲</label>
											</div>
											<div class='div-table-cell filter-obj'>
												<label><input type='radio' name='order'
													value='titledesc'>Title ▼</label>
											</div>
											<div class='div-table-cell filter-obj'>
												<label><input type='radio' name='order' value='verasc'>Version
													▲</label>
											</div>
											<div class='div-table-cell filter-obj'>
												<label><input type='radio' name='order' value='verdesc'>Version
													▼</label>
											</div>
											<div class='div-table-cell filter-obj'>
												<label><input type='radio' name='order' value='mrateasc'>My
													Rate ▲</label>
											</div>
											<div class='div-table-cell filter-obj'>
												<label><input type='radio' name='order'
													value='mratedesc'>My Rate ▼</label>
											</div>
											<div class='div-table-cell filter-obj'>
												<label><input type='radio' name='order' value='rrateasc'>Comparer
													Rate ▲</label>
											</div>
											<div class='div-table-cell filter-obj'>
												<label><input type='radio' name='order'
													value='rratedesc'>Comparer Rate ▼</label>
											</div>
											<div class='div-table-cell filter-obj'>
												<label><input type='radio' name='order'
													value='mskillasc'>My Skill ▲</label>
											</div>
											<div class='div-table-cell filter-obj'>
												<label><input type='radio' name='order'
													value='mskilldesc'>My Skill ▼</label>
											</div>
											<div class='div-table-cell filter-obj'>
												<label><input type='radio' name='order'
													value='rskillasc'>Comparer Skill ▲</label>
											</div>
											<div class='div-table-cell filter-obj'>
												<label><input type='radio' name='order'
													value='rskilldesc'>Comparer Skill ▼</label>
											</div>
											<div class='div-table-cell filter-obj'>
												<label><input type='radio' name='order'
													value='skilldiffasc'>Skill Difference (Using Abs) ▲</label>
											</div>
											<div class='div-table-cell filter-obj'>
												<label><input type='radio' name='order'
													value='skilldiffdesc'>Skill Difference (Using Abs) ▼</label>
											</div>
											<div class='div-table-cell filter-obj'>
												<label><input type='radio' name='order'
													value='skilldiffnoabsasc'>Skill Difference ▲</label>
											</div>
											<div class='div-table-cell filter-obj'>
												<label><input type='radio' name='order'
													value='skilldiffnoabsdesc'>Skill Difference ▼</label>
											</div>
											<div class='div-table-cell filter-obj'>
												<label><input type='radio' name='order'
													value='ratediffasc'>Rate Difference (Using Abs) ▲</label>
											</div>
											<div class='div-table-cell filter-obj'>
												<label><input type='radio' name='order'
													value='ratediffdesc'>Rate Difference (Using Abs) ▼</label>
											</div>
											<div class='div-table-cell filter-obj'>
												<label><input type='radio' name='order'
													value='ratediffnoabsasc'>Rate Difference ▲</label>
											</div>
											<div class='div-table-cell filter-obj'>
												<label><input type='radio' name='order'
													value='ratediffnoabsdesc'>Rate Difference ▼</label>
											</div>
										</div>
									</div>
									<div class='filter-apply'>
										<div class='filter-front'>Apply</div>
										<div class='div-table-cell filter-obj' id="filterbtn">
											<span id="gtype" th:attr="data-gtype=${gtype}"></span>
											<span id="myid" th:attr="data-myid=${id}"></span>
											<span id="comid" th:attr="data-comid=${rival}"></span>
											<button class='btn btn-primary'
												th:onclick="|applyfilterR('comparison',
												document.getElementById('gtype').dataset.gtype,
												'skilldiffdesc',
												document.getElementById('myid').dataset.myid)|"
												type='button'>Apply</button>
										</div>
										<div class='div-table-cell filter-obj'>
											<button class='btn btn-default' onclick='filterReset()'
												type='button'>Reset</button>
										</div>
									</div>
								</div>
							</form>
						</div>
						<!-- filter end -->
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-12">
				<div class="card">
					<div class="card-header">
						<h3><script>document.write(txtComp.compTitle[lang]);</script></h3>
					</div>
					<div class="card-body">
						<div id="compTable"></div>
						<div id="pager" class="row"></div>
						<th:if test="${comparison.size() == 0}">
							<div class="text-center">
								<h3><script>document.write(txtComp.table.empty[lang]);</script></h3>
							</div>
						</th:if>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="/js/jquery-3.3.1.min.js"></script>
	<script src="/js/vue.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/html2canvas.js"></script>
	<script src="/js/FileSaver.js"></script>
	<script src="/function/skillfilter.js"></script>
	<script src="/function/filteranalyzer.js"></script>
	<script src="/function/skillcolor.js"></script>
	<script src="/function/capture.js"></script>
	<script src="/function/pattern.js"></script>
	<script src="/function/version.js"></script>
	<script src="/function/pageloader.js"></script>
    <script src="/function/overall.js"></script>
	<script src="https://apis.google.com/js/platform.js?onload=gsignLoad"
		async defer></script>
	<div style='display: none'>
		<form action='/logout' id='logout' method='post'></form>
	</div>
	<script th:inline="javascript">
	var id = /*[[${id}]]*/0;
	var gtype = /*[[${gtype}]]*/'';
	var page = /*[[${page}]]*/0;
	var lv = /*[[${lv}]]*/'';
	var rank = /*[[${rank}]]*/'';
	var ver = /*[[${ver}]]*/'';
	var hot = /*[[${hot}]]*/'';
	var rival = /*[[${rival}]]*/'';
	var order = /*[[${order}]]*/'';

	$("#verfilter").append(generateVerFilter(false));
	
	function onSuccess(data) {
		var json = JSON.parse(data);
		var compdata = JSON.parse(json.comparison);
		var currentUser = JSON.parse(json.currentUser);
		var rivalUser = JSON.parse(json.rivalUser);
		var winLose = JSON.parse(json.winLose);
		for(var i = 0; i < compdata.length; i++)
			updateTable(compdata[i], currentUser, rivalUser);
		updatePager(json.page, json.pages, json.id, json.lv, json.rank, json.ver, json.hot, json.rival, json.order, json.gtype);
		updateInfo(json.gtype, currentUser, rivalUser);
		
		/*$("#filterbtn").append("<button class='btn btn-primary'"+
			"onclick='applyfilterR(\"comparison\", \""+json.gtype+"\", \""+json.order+"\", \""+
					currentUser.id+"\", \""+rivalUser.id+"\")"+
				"type='button'>Apply</button>");
		*/
		updateColor();
		
		$("#wlwin").append(winLose.win);
		$("#wllose").append(winLose.lose);
		$("#wldraw").append(winLose.draw);
	}
	
	function addrGen() {
		var base = '/d/comparison/'+id+'/'+gtype+'/'+page;
		
		var add = "";
		
		if(lv != null) {
			if(add == "") add += "?lv="+lv;
			else add += "&lv="+lv;
		}
		
		if(rank != null) {
			if(add == "") add += "?rank="+rank;
			else add += "&rank="+rank;
		}
		
		if(ver != null) {
			if(add == "") add += "?ver="+ver;
			else add += "&ver="+ver;
		}
		
		if(hot != null) {
			if(add == "") add += "?hot="+hot;
			else add += "&hot="+hot;
		}
		
		if(rival != null) {
			if(add == "") add += "?rival="+rival;
			else add += "&rival="+rival;
		}
		
		if(order != null) {
			if(add == "") add += "?order="+order;
			else add += "&order="+order;
		}
		
		return base+add;
	}
	
	loadJson(addrGen(), onSuccess);
	
	function updateTable(info, currentUser, rivalUser) {
		var ext = "";
		
		ext += "<div class='row'>"+
					"<div class='col-12'>"+
					//	"<img class='listimg' style='display:block; float:left;'"+
					//		"src='/img/music/"+info.musicid+".jpg'"+
					//		"onerror='this.src=\"/img/music/empty.jpg\"' />"+
						"<div class='row'>"+
							"<div class='col-12'>"+
								"<a class='innerhref' style='font-size:150%'"+
									"href='/music/"+info.musicid+"/"+currentUser.id+"'>"+info.musicname+"</a>"+
							"</div>"+
							"<div class='col-12'>"+					
								GDPat[info.patterncode-1].pat+
								" / "+(info.level/100).toFixed(2)+
								" / "+GDVer[info.version-1].sv+
							"</div>"+
						"</div>"+
					"</div>"+
				"</div>"+
			"</div>"+
			"<div class='row'>"+
				"<div class='col-4 text-center'>"+
					"<span>MY RECORD</span><br/>"+
					"<span style='font-size:120%;'>";
					
				if(info.currrate >= info.rivalrate) {
					ext += "<font color='red'><b>"+info.currrate/100+"%</b></font>"+
						"<font color='blue'><b>("+Math.floor(info.currskill/10000)/100+")</b></font>";
				}
				else {
					ext += info.currrate/100+"%"+
						"("+Math.floor(info.currskill/10000)/100+")";
				}
				ext += "</span>"+
					"</div>"+
					"<div class='col-4 text-center'>"+
						"<span>VS</span><br/>"+
						"<span style='font-size:120%;'>"+
							(info.currrate-info.rivalrate)/100+"%"+
							"("+Math.floor((info.currskill-info.rivalskill)/10000)/100+")"+
						"</span>"+
					"</div>"+
					"<div class='col-4 text-center'>"+
						"<span>COMPARER RECORD</span><br/>"+
						"<span style='font-size:120%;'>";
					if(info.currrate <= info.rivalrate) {
						ext += "<font color='red'><b>"+info.rivalrate/100+"%</b></font>"+
							"<font color='blue'><b>("+Math.floor(info.rivalskill/10000)/100+")</b></font>";
					}
					else {
						ext += info.rivalrate/100+"%<br/>"+
							"("+Math.floor(info.rivalskill/10000)/100+")";
					}
					ext += "</span>"+
					"</div>"+
				"</div>";
		$("#compTable").append(ext);
	}
	
	function updatePager(page, pages, id, lv, rank, ver, hot, rival, order, gtype) {
		var url = "/comparison/"+id+"/"+gtype+"/";
		var add = "";
		var code = "";
		if(pages > 1) {
			if(lv != null) {
				if(add == "") add += "?lv="+lv;
				else add += "&lv="+lv;
			}
			
			if(rank != null) {
				if(add == "") add += "?rank="+rank;
				else add += "&rank="+rank;
			}
			
			if(ver != null) {
				if(add == "") add += "?ver="+ver;
				else add += "&ver="+ver;
			}
			
			if(hot != null) {
				if(add == "") add += "?hot="+hot;
				else add += "&hot="+hot;
			}
			
			if(rival != null) {
				if(add == "") add += "?rival="+rival;
				else add += "&rival="+rival;
			}
			
			if(order != null) {
				if(add == "") add += "?order="+order;
				else add += "&order="+order;
			}
			
			for(var i = 0; i < pages; i++) {
				var npurl = url+(i+1)+add;
				if(page != i+1)
					code += "<div class='col-1'><a class='btn btn-primary' href='"+npurl+"'>"+(i+1)+"</a></div>";
				else
					code += "<div class='col-1'><a class='btn btn-warning'><b>"+(i+1)+"</b></a></div>";
			}
			
			$("#pager").append(code);
		}
	}
	
	function updateInfo(gtype, currentUser, rivalUser) {
		var topvs = "vs <a class='innerhref' href='/profile/"+rivalUser.id+"'><b>"+rivalUser.name+"</b></a>";
		if(gtype == "gf") topvs += " for GuitarFreaks";
		else if(gtype == "dm") topvs += " for DrumMania";
		
		$("#topvs").append(topvs);
		
		var topskill =	"<div class='col-5'>"+
							"<div class='row'>"+ 
								"<div class='col-6 skill'>"+
									currentUser.gskill+
								"</div>"+
								"<div class='col-6 skill'>"+
									currentUser.dskill+
								"</div>"+
							"</div>"+
						"</div>"+
						"<div class='col-2'>VS</div>"+
						"<div class='col-5'>"+
							"<div class='row'>"+ 
								"<div class='col-6 skill'>"+
									rivalUser.gskill+
								"</div>"+
								"<div class='col-6 skill'>"+
									rivalUser.dskill+
								"</div>"+
							"</div>"+
						"</div>";
		$("#topskill").append(topskill);
		
		$("#toplink").append(
			"<a style='width:100%' class='btn btn-primary'"+
				"href='/comparison/"+rivalUser.id+"/gf/1'>GF</a>"+
			"<a style='width:100%' class='btn btn-primary'"+
				"href='/comparison/"+rivalUser.id+"/dm/1'>DM</a>"
		);
	}
	
	function getTime() {
		var now = new Date();
        var time = now.getFullYear() + "/"
        		+ ((now.getMonth()+1)<10?'0':'') + (now.getMonth()+1) + "/"
        		+ (now.getDate()<10?'0':'') + now.getDate() + " "
        		+ now.getHours() + ":"
        		+ (now.getMinutes()<10?'0':'') + now.getMinutes() + ":"
        		+ (now.getSeconds()<10?'0':'') + now.getSeconds();
    	$("#curtime").text(time);
	}
	
	getTime();
	
	$(function() {
		var fa = new filteranalyzer();
		if(lv != null) fa.getLevel(lv);
		if(rank != null) fa.getRank(rank);
		if(ver != null) fa.getVersion(ver);
		if(hot != null) fa.getHot(hot);
		if(rival != null) fa.getRival(rival);
		if(order != null) fa.getOrder(order);
	});
	
	updateColor();
	</script>
	<div th:insert="header :: header"></div>
	<div th:insert="footer :: footer"></div>
	<script src="/function/menu.js"></script>
</body>
</html>
