<!-- /*****************************************************
 * GITADORA Info Server
 * Developed by Tae Jun Kang a.k.a Prunus Nira
 * (c) Nira 2016
 *
 * 1. This project is protected under GNU AGPL v3.0
 *    Please refer to LICENSE file on root
 * 2. Also, products and libraries used to implement
 *    this server are on USED-LIBRARIES file on root
 *****************************************************/ -->
 <footer th:fragment="footer" class="footer">
    <div class='container'>
        <div class='row'>
            <div class="col-10">
                <span>
                    <script>document.write(txtFooter.p1);</script><br/>
                    <script>document.write(txtFooter.p2);</script><br/>
                    <script>document.write(txtFooter.about[lang]);</script>
                </span>
            </div>
            <div class="col-2">
                <a href="/piu">
                    <img style="width:100%;" src="/img/index/piulogo.png" />
                </a>
            </div>
        </div>
    </div>
</footer>