<!-- /*****************************************************
 * GITADORA Info Server
 * Developed by Tae Jun Kang a.k.a Prunus Nira
 * (c) Nira 2016
 *
 * 1. This project is protected under GNU AGPL v3.0
 *    Please refer to LICENSE file on root
 * 2. Also, products and libraries used to implement
 *    this server are on USED-LIBRARIES file on root
 *****************************************************/ -->
 <!-- header tetxt load -->
<header th:fragment="header">
    <nav class='navbar navbar-dark bg-dark fixed-top'>
        <a class="navbar-brand" href="/index">
            <img style="max-height: 32px;" src="/img/index/logoidx.png"/>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarExp"
        aria-controls="navbarExp" aria-expanded="false" aria-label="Toggle Menu">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarExp">
            <ul class="navbar-nav mr-auto">
                <!-- 로그인 -->
                <li class="nav-item">
                    <a th:if="${token} == null" class="nav-link" href="/login">
                        <img class="navicon" src="/img/header/login.png"/>
                        <span class="navlefttxt">
                            <script>document.write(txtHeader.login[lang]);</script>
                        </span>
                    </a>
            
                    <a th:unless="${token} == null" class="nav-link" href="#no_div" onclick="signOut()">
                        <img class="navicon" src="/img/header/logout.png"/>
                        <span class="navlefttxt">
                            <script>document.write(txtHeader.logout[lang]);</script>
                        </span>
                    </a>
                </li>

                <!-- 사용설명 -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#no_div" id="dropdownHowto" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                        <img class="navicon" src="/img/header/howto.png"/>
                        <span class="navlefttxt">
                            <script>document.write(txtHeader.howtouse.title[lang]);</script>
                        </span>
                    </a>
                    <!-- 하단에 추가 div로 설명서 선택할 수 있게 만들기 -->
                    <div class="dropdown-menu" aria-labelledby="dropdownHowto">
                        <a class="dropdown-item" href="/about0">
                            <script>document.write(txtHeader.howtouse.update_au[lang]);</script>
                        </a>
                        <a class="dropdown-item" href="/about1">
                            <script>document.write(txtHeader.howtouse.update_man[lang]);</script>
                        </a>
                        <a class="dropdown-item" href="/about2">
                            <script>document.write(txtHeader.howtouse.filter_rival[lang]);</script>
                        </a>
                    </div>
                </li>

                <!-- 프로필 -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#no_div" id="dropdownProfile" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                        <img class="navicon" src="/img/header/mydata.png"/>
                        <span class="navlefttxt">
                            <script>document.write(txtHeader.mymenu.title[lang]);</script>
                        </span>
                    </a>
                    <!-- 프로필 메뉴 선택 -->
                    <div class="dropdown-menu" aria-labelledby="dropdownProfile">
                        <a class="dropdown-item" href="/profile">
                            <script>document.write(txtHeader.mymenu.profile[lang]);</script>
                        </a>
                        <a class="dropdown-item" href="/myskill/gf">
                            <script>document.write(txtHeader.mymenu.gfskill[lang]);</script>
                        </a>
                        <a class="dropdown-item" href="/myskill/dm">
                            <script>document.write(txtHeader.mymenu.dmskill[lang]);</script>
                        </a>
                        <a class="dropdown-item" href="/mybest">
                            <script>document.write(txtHeader.mymenu.best[lang]);</script>
                        </a>
                        <a class="dropdown-item" href="/rivallist">
                            <script>document.write(txtHeader.mymenu.rivallist[lang]);</script>
                        </a>
                        <a class="dropdown-item" href="/snapshot">
                            <script>document.write(txtHeader.mymenu.snapshot[lang]);</script>
                        </a>
                    </div>
                </li>

                <!-- 스킬 메뉴 -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#no_div" id="dropdownSkill" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                        <img class="navicon" src="/img/header/skill.png"/>
                        <span class="navlefttxt">
                            <script>document.write(txtHeader.skill.title[lang]);</script>
                        </span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownSkill">
                        <a class="dropdown-item" href="/rank/gf/1">
                            <script>document.write(txtHeader.skill.rank[lang]);</script>
                        </a>
                        <a class="dropdown-item" href="/exc/gf">
                            <script>document.write(txtHeader.skill.exc[lang]);</script>
                        </a>
                        <a class="dropdown-item" href="/cntrank/1">
                            <script>document.write(txtHeader.etc.countrank[lang]);</script>
                        </a>
                        <a class="dropdown-item" href="/register">
                            <script>document.write(txtHeader.skill.register[lang]);</script>
                        </a>
                    </div>
                </li>
            
                <!-- 패턴 메뉴 -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#no_div" id="dropdownPtn" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                        <img class="navicon" src="/img/header/pattern.png"/>
                        <span class="navlefttxt">
                            <script>document.write(txtHeader.pattern.title[lang]);</script>
                        </span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownPtn">
                        <a class="dropdown-item" href="/ptrank/00/titleasc/1?hot=h">
                            <script>document.write(txtHeader.pattern.ptlist[lang]);</script>
                        </a>
                        <a class="dropdown-item" href="/notplayed">
                            <script>document.write(txtHeader.mymenu.notplayed[lang]);</script>
                        </a>
                        <a class="dropdown-item" href="/cleartable">
                            <script>document.write(txtHeader.mymenu.cleartable[lang]);</script>
                        </a>
                    </div>
                </li>

                <!-- 기타도라의 탑 -->
                <li class="nav-item">
                    <a href="/tower/index" class="nav-link">
                        <img class="navicon" src="/img/header/tower.png"/>
                        <span class="navlefttxt">
                            <script>document.write(txtHeader.tower.title[lang]);</script>
                        </span>
                    </a>
                </li>
            
                <!-- PIU -->
                <li class="nav-item">
                    <a href="/piu" class="nav-link">
                        <img class="navicon" src="/img/header/piu.png"/>
                        <span class="navlefttxt">
                            <script>document.write(txtHeader.piu.title[lang]);</script>
                        </span>
                    </a>
                </li>
            </ul>

            <form class="form-inline my-2 my-md-0">
                <a class="btn btn-primary" href="#no_div" id="searchToggle" onclick="searchDropdown()">
                    Player
                </a>
                <input class="form-control" id="searchinp" name="val" type="search" placeholder="Select type, Input and Press Enter" aria-label="Search" style="width:80%" />
            </form>
            <div class="form-group">
                <div class="search-dropdown btn-group" id="search-dropdown">
                    <a class="btn btn-primary" onclick="changeSearchType('name')" href="#no_div">Player</a>
                    <a class="btn btn-primary" onclick="changeSearchType('gskill')" href="#no_div">G-Skill</a>
                    <a class="btn btn-primary" onclick="changeSearchType('dskill')" href="#no_div">D-Skill</a>
                    <a class="btn btn-primary" onclick="changeSearchType('music')" href="#no_div">Music</a>
                </div>
            </div>
        </div>
    </nav>
</header>
