<!-- /*****************************************************
 * GITADORA Info Server
 * Developed by Tae Jun Kang a.k.a Prunus Nira
 * (c) Nira 2016
 *
 * 1. This project is protected under GNU AGPL v3.0
 *    Please refer to LICENSE file on root
 * 2. Also, products and libraries used to implement
 *    this server are on USED-LIBRARIES file on root
 *****************************************************/ -->
 <!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="google-signin-client_id"
      content="clientid.apps.googleusercontent.com">
    <link rel="icon" href="/favicon.ico">

    <script src="/function/language.js"></script>
	<script src="/function/language/search.js"></script>
	<script src="/function/language/skillrank.js"></script>
    <title>GITADORA Info</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
	<!-- Custom css -->
	<link href="/css/custom/header.css" rel="stylesheet">
	<link href="/css/custom/footer.css" rel="stylesheet">
	<link href="/css/custom/table.css" rel="stylesheet">
	<link href="/css/custom/skillcolor.css" rel="stylesheet">
	<link href="/css/custom/skillcolor-rainbow.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
	
	<!-- Google Adsense -->
	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<script>
		(adsbygoogle = window.adsbygoogle || []).push({
			google_ad_client: "ca-pub-adsenseid",
			enable_page_level_ads: true
		});
	</script>
  </head>

  <body>
  	<section class="container" id="loading">
  		<h1>LOADING... Please Wait</h1>
  	</section>
  	
  	<section class="container">
		<div class="row">
			<div class="col-12">
				<div class="card">
					<div class="card-header">
						<h3>Search</h3>
						<span><script>document.write(txtSearch.desc[lang]);</script></span>
					</div>
					<div class="card-body">
						<div class='row'>
							<div class='col-12' id='user-result'>
								<user-table v-for="rec in userlist" v-bind:rec="rec"></user-table>
							</div>
						</div>
						<div class='row'>
							<div class='col-12' id='music-result' style='display:none'>
								<div class='div-table'>
									<div class='div-table-header'>
										<div class='div-table-cell'></div>
										<div class='div-table-cell'></div>
										<div class='div-table-cell'>Guitar</div>
										<div class='div-table-cell'>Bass</div>
										<div class='div-table-cell'>Drum</div>
										<div class='div-table-cell'></div>
									</div>
									<music-table v-for="m in musiclist" v-bind:m="m"></music-table>
								</div>
							</div>
						</div>
						
						<div id='empty' style="width:100%; text-align:center;">
							<h3><script>document.write(txtSearch.table.empty[lang]);</script></h3>
						</div>
						<div class='row text-center' id="pager"></div>
					</div>
				</div>
			</div>
		</div>
	</section>
  	
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/js/jquery-3.3.1.min.js"></script>
	<script src="/js/vue.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/function/skillcolor.js"></script>
    <script src="/function/pageloader.js"></script>
    <script src="/function/rivalmanage.js"></script>
	<script src="/function/pager.js"></script>
    <script src="/function/overall.js"></script>
    <script src="https://apis.google.com/js/platform.js?onload=gsignLoad" async defer></script>
    <div style='display:none'>
		<form action='/logout' id='logout' method='post'>
		</form>
	</div>

	<template id='user-template'>
		<div class="table-border-bottom" style="padding:5px;">
			<div class="row">
				<div class="col-7">
					<div class="row">
						<div class="col-12 text-left">
							<span id="towertitle" v-html="rec.towertitle"></span>
							<a class="innerhref title" v-bind:href="rec.link">{{ rec.username }}</a>
						</div>
					</div>
				</div>
				<div class="col-5">
					<div class="row">
						<div class="col-3 text-right">G</div>
						<div class="col-9 text-left blackandwhite">
							<a class="skill" v-bind:href="rec.glink">{{ rec.gskill }}</a>
						</div>
					</div>
					<div class="row">
						<div class="col-3 text-right">D</div>
						<div class="col-9 text-left blackandwhite">
							<a class="skill" v-bind:href="rec.dlink">{{ rec.dskill }}</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</template>

	<template id='music-template'>
		<div class='div-table-row'>
			<div class='div-table-cell'>
				<img style='width:75px' v-bind:src='m.jacket' onerror='this.src="/img/music/empty.jpg"' />
			</div>
			<div class='div-table-cell'>
				<a class='innerhref' v-bind:href='m.link'>{{ m.name }}</a>
				<br/>
				<span style='color:red'>{{ m.removed }}</span>
			</div>
			<!--GF-->
			<div class='div-table-cell' v-html='m.guitar'></div>
			<!--BA-->
			<div class='div-table-cell' v-html='m.bass'></div>
			<!--DM-->
			<div class='div-table-cell' v-html='m.drum'></div>
			<div class='div-table-cell'>
				<form v-bind:action='m.action' method='post'>
					<input type='hidden' name='mid' v-bind:value='m.id'>
					<input type='hidden' name='ver' v-bind:value='m.ver'>
					<button type='submit' class='btn btn-primary'>
						Manual update
					</button>
				</form>
			</div>
		</div>
	</template>

	<script th:inline="javascript">
	Vue.component('user-table', {
		template: '#user-template',
		props: {
			rec: Object
		}
	});

	Vue.component('music-table', {
		template: '#music-template',
		props: {
			m: Object
		}
	});

	var stype = /*[[${stype}]]*/'';
	var val = /*[[${val}]]*/'';
	var page = /*[[${page}]]*/0;

	var vmUserSearch = new Vue({
		el: '#user-result',
		data: {
			userlist: []
		},
		created: function() {
			var self = this;
			if(stype == 'name' || stype == 'gskill' || stype == 'dskill') {
				$.ajax('/d/search/'+stype+'/'+val+'/'+page)
				.done(function(data) {
					var json = JSON.parse(data);
					if(json.resultexist == "yes") {
						for(var i = 0; i < json.userList.length; i++) {
							var cur = json.userList[i];
							var obj = {};
							if(cur.titletower != '') {
								obj.towertitle = '<img class="towertitle35" src="/img/title/'+cur.titletower+'.png" />';
							}
							else {
								obj.towertitle = '';
							}
							obj.link = '/profile/'+cur.id;
							obj.username = cur.name;
							obj.gskill = cur.gskill;
							obj.dskill = cur.dskill;
							obj.glink = "/skill/2/"+cur.id+"/gf/1/1";
							obj.dlink = "/skill/2/"+cur.id+"/dm/1/1";
							self.userlist.push(obj);
						}
						$("#pager").append(createPager(json.page, json.pages, '/search/'+stype+'/'+val+'/', ''));
						$("#empty").hide();
						$("#loading").hide();
					}
				});
			}
		},
		updated: function() {
			updateColor();
		}
	});

	var vmMusicSearch = new Vue({
		el: '#music-result',
		data: {
			musiclist: []
		},
		created: function() {
			var self = this;
			if(stype == 'music') {
				$.ajax('/d/search/'+stype+'/'+val+'/'+page)
				.done(function(data) {
					var json = JSON.parse(data);
					if(json.resultexist == "yes") {
						for(var i = 0; i < json.userList.length; i++) {
							var cur = json.userList[i];
							var obj = {};
							obj.jacket = '/img/music/'+cur.id+'.jpg';
							if(json.user != null)
								obj.link = '/music/'+cur.id+'/'+json.user.id;
							else
								obj.link = '';
							obj.name = cur.name;

							switch(cur.removed) {
								case 1:
									obj.removed = '(removed TB)';
									break;
								case 2:
									obj.removed = '(removed TBRE)';
									break;
								case 3:
									obj.removed = '(removed MX)';
									break;
								case 4:
									obj.removed = '(removed EXC)';
									break;
							}
							obj.guitar = '';
							obj.bass = '';
							obj.drum = '';

							// 기타
							if(cur.gbsc != 0) {
								obj.guitar += "BSC <a class='innerhref' href='/ptdetail/"+cur.id+"/1/1'>"+
									(cur.gbsc / 100).toFixed(2)+"</a><br/>";
							}
							if(cur.gadv != 0) {
								obj.guitar += "ADV <a class='innerhref' href='/ptdetail/"+cur.id+"/2/1'>"+
									(cur.gadv / 100).toFixed(2)+"</a><br/>";
							}
							if(cur.gext != 0) {
								obj.guitar += "EXT <a class='innerhref' href='/ptdetail/"+cur.id+"/3/1'>"+
									(cur.gext / 100).toFixed(2)+"</a><br/>";
							}
							if(cur.gmas != 0) {
								obj.guitar += "MAS <a class='innerhref' href='/ptdetail/"+cur.id+"/4/1'>"+
									(cur.gmas / 100).toFixed(2)+"</a>";
							}

							// 베이스
							if(cur.bbsc != 0) {
								obj.bass += "BSC <a class='innerhref' href='/ptdetail/"+cur.id+"/5/1'>"+
									(cur.bbsc / 100).toFixed(2)+"</a><br/>";
							}
							if(cur.badv != 0) {
								obj.bass += "ADV <a class='innerhref' href='/ptdetail/"+cur.id+"/6/1'>"+
									(cur.badv / 100).toFixed(2)+"</a><br/>";
							}
							if(cur.bext != 0) {
								obj.bass += "EXT <a class='innerhref' href='/ptdetail/"+cur.id+"/7/1'>"+
									(cur.bext / 100).toFixed(2)+"</a><br/>";
							}
							if(cur.bmas != 0) {
								obj.bass += "MAS <a class='innerhref' href='/ptdetail/"+cur.id+"/8/1'>"+
									(cur.bmas / 100).toFixed(2)+"</a>";
							}

							// 드럼
							if(cur.dbsc != 0) {
								obj.drum += "BSC <a class='innerhref' href='/ptdetail/"+cur.id+"/9/1'>"+
									(cur.dbsc / 100).toFixed(2)+"</a><br/>";
							}
							if(cur.dadv != 0) {
								obj.drum += "ADV <a class='innerhref' href='/ptdetail/"+cur.id+"/10/1'>"+
									(cur.dadv / 100).toFixed(2)+"</a><br/>";
							}
							if(cur.dext != 0) {
								obj.drum += "EXT <a class='innerhref' href='/ptdetail/"+cur.id+"/11/1'>"+
									(cur.dext / 100).toFixed(2)+"</a><br/>";
							}
							if(cur.dmas != 0) {
								obj.drum += "MAS <a class='innerhref' href='/ptdetail/"+cur.id+"/12/1'>"+
									(cur.dmas / 100).toFixed(2)+"</a>";
							}

							if(json.user != null) {
								obj.action = '/register/'+json.user.id;
							}
							else {
								obj.action = '';
							}
							
							obj.id = cur.id;
							obj.ver = cur.version;
							self.musiclist.push(obj);
						}
						$("#pager").append(createPager(json.page, json.pages, '/search/'+stype+'/'+val+'/', ''));
						$("#empty").hide();
						$("#loading").hide();
						$("#music-result").show();
					}
				});
			}
		}
	});

	//signout
	function gsignLoad() {
		gapi.load('auth2', function() {
			gapi.auth2.init();
		});
	}
	
	function signOut() {
		var auth2 = gapi.auth2.getAuthInstance();
		auth2.signOut().then(function() {
			console.log('User signed out.');
		});
		$("#logout").submit();
	}
	</script>
	<div th:insert="header :: header"></div>
	<div th:insert="footer :: footer"></div>
	<script src="/function/menu.js"></script>
  </body>
</html>
