<!-- /*****************************************************
 * GITADORA Info Server
 * Developed by Tae Jun Kang a.k.a Prunus Nira
 * (c) Nira 2016
 *
 * 1. This project is protected under GNU AGPL v3.0
 *    Please refer to LICENSE file on root
 * 2. Also, products and libraries used to implement
 *    this server are on USED-LIBRARIES file on root
 *****************************************************/ -->
 <!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="google-signin-client_id"
      content="signin_client_id.apps.googleusercontent.com">
    <link rel="icon" href="/favicon.ico">

    <script src="/function/language.js"></script>
	<script src="/function/language/tower.js"></script>
    <title>GITADORA Info</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
	<!-- Custom css -->
	<link href="/css/custom/header.css" rel="stylesheet">
	<link href="/css/custom/footer.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
	
	<!-- Google Adsense -->
	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<script>
		(adsbygoogle = window.adsbygoogle || []).push({
			google_ad_client: "ca-pub-adsense_id",
			enable_page_level_ads: true
		});
	</script>
  </head>

  <body>
  	<section class="container" id="loading">
  		<h1>LOADING... Please wait</h1>
  	</section>
  	
  	<section class="container">
  		<div class="pagetop text-center">
  			<div class="row">
  				<div class="col-12">
  					<h2>Tower of GITADORA</h2>
  				</div>
  			</div>
    		<div class="row">
  				<div class="col-12">
		    		<span>
						<script>document.write(txtTower.main.desc[lang]);</script>
					</span>
				</div>
			</div>
			<div class="row">
  				<div class="col-12">
		    		<span>
						<a class="btn btn-primary" href="/tower/howto">
							<script>document.write(txtTower.main.howto[lang]);</script>
						</a>
					</span>
				</div>
			</div>
		</div>
  	</section>
  	
  	<section class="container">
  		<div class="row">
			<div class="col-12">
				<div id="towerlist">
			    	<div class="row" style="padding-bottom:10px">
						<div class="col-sm-6">
							<div class="row">
								<div class="col-12 text-center">
									<h3><script>document.write(txtTower.main.skilltower[lang]);</script>&nbsp;GuitarFreaks</h3>
								</div>
							</div>
							<div class="row">
								<div class="col-12 text-center">
									<img-row v-for="tower in towergf" v-bind:tower="tower"></img-row>
								</div>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="row">
								<div class="col-12 text-center">
									<h3><script>document.write(txtTower.main.skilltower[lang]);</script>&nbsp;DrumMania</h3>
								</div>
							</div>
							<div class="row">
								<div class="col-12 text-center">
									<img-row v-for="tower in towerdm" v-bind:tower="tower"></img-row>
								</div>
							</div>
						</div>
					</div>
					<div class="row" style='padding-bottom:10px;'>
						<div class="col-12 text-center">
							<h3><script>document.write(txtTower.main.sptower[lang]);</script></h3>
						</div>
						<div class="col-12 text-center">
							<img-row v-for="tower in towersp" v-bind:tower="tower"></img-row>
						</div>
			    	</div>
		    	</div>
			</div>
		</div>
  	</section>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
	<script src="/js/jquery-3.3.1.min.js"></script>
	<script src="/js/vue.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/function/overall.js"></script>
    <script src="https://apis.google.com/js/platform.js?onload=gsignLoad" async defer></script>
    <div style='display:none'>
		<form action='/logout' id='logout' method='post'>
		</form>
	</div>

	<template id='img-template'>
		<a v-bind:href='tower.link'>
			<img style="width:48%; height:auto;" v-bind:src="tower.img" />
		</a>
	</template>

	<script>
	Vue.component('img-row', {
		template: '#img-template',
		props: {
			tower: Object
		}
	});

	var vm = new Vue({
		el: '#towerlist',
		data: {
			towergf: [],
			towerdm: [],
			towersp: []
		},
		created: function() {
			var self = this;
			$.ajax('/d/towerlist')
			.done(function(data) {
				var json = JSON.parse(data);
				var towernum = json.towerlist.length;
				for(var i = 0; i < towernum; i++) {
					var obj = {};
					var l = 'ko';
					if(lang == 'en') l = 'ko';
					else if(lang == 'jp') l = 'jp';
					obj.img = '/img/tower/'+json.towerlist[i]+'_'+l+'.jpg';
					obj.link = '/tower/stat/'+json.towerlist[i];

					if(json.towerlist[i].startsWith("towerGf")) {
						self.towergf.push(obj);
					}
					else if(json.towerlist[i].startsWith("towerDm")) {
						self.towerdm.push(obj);
					}
					else if(json.towerlist[i].startsWith("towerSp")) {
						self.towersp.push(obj);
					}
				}
				$("#loading").hide();
			});
		}
	});
	
	//signout
	function gsignLoad() {
		gapi.load('auth2', function() {
			gapi.auth2.init();
		});
	}
	
	function signOut() {
		var auth2 = gapi.auth2.getAuthInstance();
		auth2.signOut().then(function() {
			console.log('User signed out.');
		});
		$("#logout").submit();
	}
	</script>
	<div th:insert="header :: header"></div>
	<div th:insert="header :: menu"></div>
	<div th:insert="footer :: footer"></div>
  </body>
</html>
