<!-- /*****************************************************
 * GITADORA Info Server
 * Developed by Tae Jun Kang a.k.a Prunus Nira
 * (c) Nira 2016
 *
 * 1. This project is protected under GNU AGPL v3.0
 *    Please refer to LICENSE file on root
 * 2. Also, products and libraries used to implement
 *    this server are on USED-LIBRARIES file on root
 *****************************************************/ -->
 <!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="google-signin-client_id"
      content="clientid.apps.googleusercontent.com">
    <link rel="icon" href="/favicon.ico">

    <script src="/function/language.js"></script>
	<script src="/function/language/skillrank.js"></script>
    <title>GITADORA Info</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
	<!-- Custom css -->
	<link href="/css/custom/header.css" rel="stylesheet">
	<link href="/css/custom/footer.css" rel="stylesheet">
	<link href="/css/custom/table.css" rel="stylesheet">
	<link href="/css/custom/skillcolor.css" rel="stylesheet">
	<link href="/css/custom/skillcolor-rainbow.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
	
	<!-- Google Adsense -->
	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<script>
		(adsbygoogle = window.adsbygoogle || []).push({
			google_ad_client: "ca-pub-adsenseid",
			enable_page_level_ads: true
		});
	</script>
  </head>

  <body>
  	<section class="container" id="loading">
  		<h1>LOADING... Please wait</h1>
  	</section>
  	
  	<section class="container">
  		<div class="row">
		  	<div class="col-12">
				<div class="card">
					<div class="card-header">
						<h3>Skill Ranking</h3>
					</div>
					<div class="card-body text-center">
						<div class="col-12">
							<span><script>document.write(txtSrank.desc[lang]);</script></span>
						</div>
						<div class="col-12 btn-group">
							<a style="width:100%" class='btn btn-primary' href='/rank/gf/1'>GF Rank</a>
							<a style="width:100%" class='btn btn-primary' href='/rank/dm/1'>DM Rank</a>
							<a style="width:100%" class='btn btn-primary' href='/rank/all/1'>Total Rank</a>
						</div>
					</div>
				</div>
			</div>
    	</div>
		<div class="row">
			<div class="col-12">
				<div class="card">
					<div class="card-header">
						<h3 th:if="${gtype}=='gf'">GuitarFreaks</h3>
						<h3 th:if="${gtype}=='dm'">DrumMania</h3>
						<h3 th:if="${gtype}=='all'">GF + DM</h3>
					</div>
					<div class="card-body">
						<div class="card-text">
							<div class="row">
								<div class="col-12 text-center" style="padding-bottom:20px;">
									<script>document.write(txtSrank.click[lang]);</script>
								</div>
								<div class="col-12">
									<div class="div-table" id="ranktable">
										<rank-row v-for="rank in ranklist" v-bind:rank="rank"></rank-row>
									</div>
								</div>
							</div>
						</div>
						<div class='row text-center' id='pager'></div>
					</div>
				</div>
			</div>
		</div>
	</section>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
	<script src="/js/jquery-3.3.1.min.js"></script>
	<script src="/js/vue.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/function/skillcolor.js"></script>
    <script src="/function/towertitle.js"></script>
	<script src="/function/pager.js"></script>
    <script src="/function/overall.js"></script>
    <script src="https://apis.google.com/js/platform.js?onload=gsignLoad" async defer></script>
    <div style='display:none'>
		<form action='/logout' id='logout' method='post'>
		</form>
	</div>

	<template id="ranking-template">
		<div class='row div-table-row'>
			<div class='div-table-cell'>
			{{ rank.index }}
			</div>
			<div class='div-table-cell'>
				<div class='row'>
					<div class='col-7'>
						<div class="row">
							<div class="col-12 text-left">
								<span v-html='rank.towertitle'></span>
								<a style="font-size: 125%;" class='innerhref' v-bind:href="rank.profilerank">{{ rank.username }}</a>
							</div>
						</div>
						<div class="row">
							<div class="col-12 text-left">
								{{ rank.timeTitle }} {{ rank.time }}
							</div>
						</div>
					</div>
					<div class='col-5'>
						<div class='row'>
							<div class='col-3'>G</div>
							<div class="col-9 text-left blackandwhite">
								<a class='skill' v-bind:href="rank.glink">{{ rank.gskill }}</a>
							</div>
						</div>
						<div class='row'>
							<div class='col-3'>D</div>
							<div class="col-9 text-left blackandwhite">
								<a class='skill' v-bind:href="rank.dlink">{{ rank.dskill }}</a>
							</div>
						</div>
						<div class='row'>
							<div class='col-3'>A</div>
							<div class="col-9 text-left blackandwhite">
								<span class='allskill'>{{ rank.allskill }}</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</template>

	<script th:inline="javascript">
	Vue.component('rank-row', {
		template: '#ranking-template',
		props: {
			rank: Object
		}
	});

	var gtype = /*[[${gtype}]]*/'';
	var page = /*[[${page}]]*/0;

	var vmRank = new Vue({
		el: '#ranktable',
		data: {
			ranklist: []
		},
		created: function() {
			var self = this;

			$.ajax('/d/rank/'+gtype+'/'+page)
			.done(function(data) {
				var json = JSON.parse(data);

				for(var i = 0; i < json.allUserList.length; i++) {
					var obj = {};
					var cur = json.allUserList[i];
					obj.index = i+30*(page-1)+1;
					obj.profilerank = '/profile/'+cur.id;

					if(cur.titletower != '')
						obj.towertitle = '<img class="towertitle35" src="/img/title/'+cur.titletower+'.png" />';
					else
						obj.towertitle = '';

					obj.username = cur.name+" ⓟ";
					obj.timeTitle = txtSrank.table.uptime[lang];

					var date = new Date().getTime() - cur.uptimelong;
					var day = Math.floor(date/1000/60/60/24);

					if(day > 0) {
						obj.time = day+text.other.days[lang];
					}
					else {
						obj.time = Math.floor(date/1000/60/60)+text.other.hrs[lang]+
							" "+Math.floor(date/1000/60%60)+text.other.mins[lang];
					}
					obj.gskill = cur.gskill.toFixed(2);
					obj.glink = "/skill/2/"+cur.id+"/gf/1/1";
					obj.dskill = cur.dskill.toFixed(2);
					obj.dlink = "/skill/2/"+cur.id+"/dm/1/1";
					obj.allskill = (cur.gskill+cur.dskill).toFixed(2);

					self.ranklist.push(obj);
				}

				$("#pager").append(createPager(page, json.pages, "/rank/"+gtype+"/", ""));
				$("#loading").hide();
			});
		},
		updated: function() {
			updateColor();
		}
	});
	</script>
	<div th:insert="header :: header"></div>
	<div th:insert="footer :: footer"></div>
	<script src="/function/menu.js"></script>
  </body>
</html>
