<!-- /*****************************************************
 * GITADORA Info Server
 * Developed by Tae Jun Kang a.k.a Prunus Nira
 * (c) Nira 2016
 *
 * 1. This project is protected under GNU AGPL v3.0
 *    Please refer to LICENSE file on root
 * 2. Also, products and libraries used to implement
 *    this server are on USED-LIBRARIES file on root
 *****************************************************/ -->
 <!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="google-signin-client_id"
      content="signin_client_id.apps.googleusercontent.com">
    <link rel="icon" href="/favicon.ico">

    <script src="/function/language.js"></script>
	<script src="/function/language/skill.js"></script>
    <title>GITADORA Info</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
	<!-- Custom css -->
	<link href="/css/custom/header.css" rel="stylesheet">
	<link href="/css/custom/footer.css" rel="stylesheet">
	<link href="/css/custom/table.css" rel="stylesheet">
	<link href="/css/custom/filter.css" rel="stylesheet">
	<link href="/css/custom/skill.css" rel="stylesheet">
	<link href="/css/custom/skillcolor.css" rel="stylesheet">
	<link href="/css/custom/skillcolor-rainbow.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
	
	<!-- Google Adsense -->
	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<script>
		(adsbygoogle = window.adsbygoogle || []).push({
			google_ad_client: "ca-pub-adsense_id",
			enable_page_level_ads: true
		});
	</script>
  </head>

  <body>
  	<section class="container" id="loading">
		<h1>LOADING... Please wait</h1>
  	</section>

	<section class="container">
	  	<div class="row">
		  	<div class="col-12 text-center">
				<h2>Skill Table</h2>
			</div>
	   	</div>
		<div class="row" id='scrshotdiv'>
			<div class='col-12 text-center'>
				<h4>Screenshot</h4>
			</div>
			<div class="col-12">
				<div style='width:100%;' class="btn-group btn-group-justified" role="group">
					<a style="width:100%;" class="btn btn-warning" href="#no_div" v-bind:onclick="scrpage">
						{{ scrpagetxt }}
					</a>
					<span id='gtype' th:attr='data-gtype=${gtype}'></span>
					<a style="width:100%;" class="btn btn-warning" href="#no_div" th:onclick="|scrShot('#scrTable', '${id}_'+document.getElementById('gtype').dataset.gtype+'_all_${page}_'+getTimeScr()+'.jpg')|">
						{{ scrcurtxt }}
					</a>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12" id="rivalSelector">
				<span style="font-size:120%">
					<script>document.write(txtSkill.rival.select[lang]);</script>
				</span>
			</div>
		</div>
  	</section>
  	
  	<section class="container" id='scrTable'>
		<div class="card">
			<div class="card-header">
				<div class="row" id="targetInfo">
					<div class="col-12 text-center">
						<h4><b>GITADORA
							<th:block th:switch="${ptype}">
								<span th:case="3">Tri-Boost Re:EVOLVE Top 100</span>
								<span th:case="4">Tri-Boost Top 100</span>
								<span th:case="5">Tri-Boost Re:EVOLVE</span>
								<span th:case="6">Tri-Boost</span>
								<span th:case="7">Matixx Top 100</span>
								<span th:case="8">Matixx</span>
								<span th:case="*">EXCHAIN</span>
							</th:block><br/>
							<span th:if="${gtype}=='gf'">GuitarFreaks</span>
							<span th:if="${gtype}=='dm'">DrumMania</span>
							<span th:if="${ptype}!=1000">Skill by <span id="nameTop"></span></span>
							<span th:unless="${ptype}!=1000">ALL EXCELLENT Skill</span>
						</b></h4>
					</div>
					<div class='col-6' style="text-align:center;">
						<b>Made by GITADORA.info</b>
					</div>
					<div class='col-6' style="text-align:center;">
						Update Time: <span id="timeTop"></span>
					</div>
				</div>
			</div>
			<div class="card-body">
				<div class="card-title">
					<div class="col-12 skillupper">
						<div class="row blackandwhite text-center" id="statusBar">
							<div th:if="${ptype} == 3 or ${ptype} == 4 or ${ptype} == 7" class='col-12'>
								<span style='text-align:center;'>* {{ oldver }}</span>
							</div>

							<div class='col-4'>
								{{ statLeftTitle }}<br/><span class='skill' v-html="statLeft"></span>
							</div>
							<div class='col-4'>
								{{ statMidTitle }}<br/>{{ statMid }}
							</div>
							<div class='col-4'>
								{{ statRightTitle }}<br/>{{ statRight }}
							</div>
						</div>
					</div>
				</div>
				<div class="card-text">
					<div class="row" id="targetTable">
						<div class="col-12">
							<div class='div-table' id="fullTable">
								<skill-table v-for="skill in skillList" v-bind:skill="skill" v-bind:key="skill.num"></skill-table>
							</div>
						</div>
						<div class="col-sm-6" id="halfTableLeft">
							<div class='row'>
								<div class='col-12 text-center'>
									<h2><b>HOT</b></h2>
								</div>
							</div>
							<div class='row'>
								<div class='col-12'>
									<div class='div-table' style="padding-bottom:100px;">
										<skill-table v-for="skill in hotList" v-bind:skill="skill" v-bind:key="skill.num"></skill-table>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-6" id="halfTableRight">
							<div class='row'>
								<div class='col-12 text-center'>
									<h2><b>OTHER</b></h2>
								</div>
							</div>
							<div class='row'>
								<div class='col-12'>
									<div class='div-table'>
										<skill-table v-for="skill in otherList" v-bind:skill="skill" v-bind:key="skill.num"></skill-table>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div id="skillEmpty" style="width:100%; text-align:center;"></div>
					<div class='row text-center'>
						<div class="col-12" id="pager"></div>
					</div>
				</div>
			</div>
		</div>
  	</section>

	<!-- 스킬 표 네비게이터 -->
	<div class="skill-float-menu">
		<span style="font-size:30px;cursor:pointer" onclick="openSkillNav()">
			<a class="btn btn-primary" href="#no_div"><script>document.write(txtSkill.float[lang]);</script></a>
		</span>
	</div>

	<!-- 오른쪽 사이드 메뉴 -->
	<div class="sidenav-r" id="skillSideMenu">
		<a href="javascript:void(0)" class="closebtn" onclick="closeSkillNav()">&times;</a>

	<th:block th:if="${ptype} == 0">
		<!-- Filter and Orders -->
		<div id='filters' class='filters'>
			<div id='filterShowHide' class='filter-front'>
				<a href='#no_div' onclick='showfilter(1)'>
					<h3>Filter Show</h3>
					<script>document.write(text.other.filter[lang])</script>
				</a>
			</div>
			<form id='filterform'>
				<div id='filter' style="display:none;">
					<div class='filter-front'>Level</div>
					<div class='filter-back div-table'>
						<div class='div-table-row'>
							<div class='div-table-cell filter-obj'>
								<label><input type='checkbox' name='lv[]' value='1'>1.0~</label>
							</div>
							<div class='div-table-cell filter-obj'>
								<label><input type='checkbox' name='lv[]' value='2'>1.5~</label>
							</div>
							<div class='div-table-cell filter-obj'>
								<label><input type='checkbox' name='lv[]' value='4'>2.0~</label>
							</div>
							<div class='div-table-cell filter-obj'>
								<label><input type='checkbox' name='lv[]' value='8'>2.5~</label>
							</div>
							<div class='div-table-cell filter-obj'>
								<label><input type='checkbox' name='lv[]' value='16'>3.0~</label>
							</div>
							<div class='div-table-cell filter-obj'>
								<label><input type='checkbox' name='lv[]' value='32'>3.5~</label>
							</div>
							<div class='div-table-cell filter-obj'>
								<label><input type='checkbox' name='lv[]' value='64'>4.0~</label>
							</div>
							<div class='div-table-cell filter-obj'>
								<label><input type='checkbox' name='lv[]' value='128'>4.5~</label>
							</div>
							<div class='div-table-cell filter-obj'>
								<label><input type='checkbox' name='lv[]' value='256'>5.0~</label>
							</div>
							<div class='div-table-cell filter-obj'>
								<label><input type='checkbox' name='lv[]' value='512'>5.5~</label>
							</div>
							<div class='div-table-cell filter-obj'>
								<label><input type='checkbox' name='lv[]' value='1024'>6.0~</label>
							</div>
							<div class='div-table-cell filter-obj'>
								<label><input type='checkbox' name='lv[]' value='2048'>6.5~</label>
							</div>
							<div class='div-table-cell filter-obj'>
								<label><input type='checkbox' name='lv[]' value='4096'>7.0~</label>
							</div>
							<div class='div-table-cell filter-obj'>
								<label><input type='checkbox' name='lv[]' value='8192'>7.5~</label>
							</div>
							<div class='div-table-cell filter-obj'>
								<label><input type='checkbox' name='lv[]' value='16384'>8.0~</label>
							</div>
							<div class='div-table-cell filter-obj'>
								<label><input type='checkbox' name='lv[]' value='32768'>8.5~</label>
							</div>
							<div class='div-table-cell filter-obj'>
								<label><input type='checkbox' name='lv[]' value='65536'>9.0~</label>
							</div>
							<div class='div-table-cell filter-obj'>
								<label><input type='checkbox' name='lv[]' value='131072'>9.5~</label>
							</div>
						</div>
					</div>
					<div class='filter-rank'>
						<div class='filter-front'>Rank</div>
						<div class='div-table-row filter-back'>
							<div class='div-table-cell filter-obj'>
								<label><input type='checkbox' name='rank[]' value='256'>Excellent</label>
							</div>
							<div class='div-table-cell filter-obj'>
								<label><input type='checkbox' name='rank[]' value='128'>SS</label>
							</div>
							<div class='div-table-cell filter-obj'>
								<label><input type='checkbox' name='rank[]' value='64'>S</label>
							</div>
							<div class='div-table-cell filter-obj'>
								<label><input type='checkbox' name='rank[]' value='32'>A</label>
							</div>
							<div class='div-table-cell filter-obj'>
								<label><input type='checkbox' name='rank[]' value='16'>B</label>
							</div>
							<div class='div-table-cell filter-obj'>
								<label><input type='checkbox' name='rank[]' value='8'>C</label>
							</div>
							<div class='div-table-cell filter-obj'>
								<label><input type='checkbox' name='rank[]' value='4'>D</label>
							</div>
							<div class='div-table-cell filter-obj'>
								<label><input type='checkbox' name='rank[]' value='2'>E</label>
							</div>
							<div class='div-table-cell filter-obj'>
								<label><input type='checkbox' name='rank[]' value='1'>Failed</label>
							</div>
						</div>
					</div>
					<div class='filter-ver'>
						<div class='filter-front'>Version</div>
						<div class='div-table-row filter-back' id='verfilter'></div>
					</div>
					<div class='filter-hot'>
						<div class='filter-front'>Hot/Other</div>
						<div class='div-table-row filter-back'>
							<div class='div-table-cell filter-obj'>
								<label><input type='checkbox' name='hot[]' value='h'>Hot</label>
							</div>
							<div class='div-table-cell filter-obj'>
								<label><input type='checkbox' name='hot[]' value='o'>Other</label>
							</div>
						</div>
					</div>
					<div class='order'>
						<div class='filter-front'>Order</div>
						<div class='div-table-row filter-back'>
							<div class='div-table-cell filter-obj'>
								<label><input type='radio' name='order' value='titleasc'>Title ▲</label>
							</div>
							<div class='div-table-cell filter-obj'>
								<label><input type='radio' name='order' value='titledesc'>Title ▼</label>
							</div>
							<div class='div-table-cell filter-obj'>
								<label><input type='radio' name='order' value='verasc'>Version ▲</label>
							</div>
							<div class='div-table-cell filter-obj'>
								<label><input type='radio' name='order' value='verdesc'>Version ▼</label>
							</div>
							<div class='div-table-cell filter-obj'>
								<label><input type='radio' name='order' value='rateasc'>Rate ▲</label>
							</div>
							<div class='div-table-cell filter-obj'>
								<label><input type='radio' name='order' value='ratedesc'>Rate ▼</label>
							</div>
							<div class='div-table-cell filter-obj'>
								<label><input type='radio' name='order' value='skillasc'>Skill ▲</label>
							</div>
							<div class='div-table-cell filter-obj'>
								<label><input type='radio' name='order' value='skilldesc'>Skill ▼</label>
							</div>
							<div class='div-table-cell filter-obj'>
								<label><input type='radio' name='order' value='playtime'>Play Time ▼</label>
							</div>
						</div>
					</div>
					<div style="text-align:center;">
						<div class='div-table-cell filter-obj'>
							<span id="order" th:attr="data-order=${order}"></span>
							<input class='btn btn-primary' th:onclick="|applyfilter('skill/${ptype}/${id}/'+document.getElementById('gtype').dataset.gtype+'/1/'+document.getElementById('order').dataset.order)|" type='button' value='Apply' />
						</div>
						<div class='div-table-cell filter-obj'>
							<input class='btn btn-default' onclick='filterReset()' type='button' value='Reset'>
						</div>
					</div>
				</div>
			</form>
		</div>
		<!-- filter end -->
	</th:block>

	<th:block th:if="${ptype} != 1000">
		<div class='row' id="oldskillnav">
			<div class='col-12'>
				<div class='row'>
					<div style="width:100%;" class="col-1">
						<span class='btn btn-secondary'>TB</span>
					</div>
					<div class='col-11'>
						<div style="width:100%" class='btn-group btn-group-justified' role="group">
							<a style="width:100%; white-space:normal;" class='btn btn-primary' th:href='|/skill/4/${id}/gf/1/skilldesc|'>
								GF100
							</a>
							<a style="width:100%; white-space:normal;" class='btn btn-primary' th:href='|/skill/6/${id}/gf/1/1|'>
								GF<script>document.write(txtSkill.target[lang]);</script>
							</a>
							<a style="width:100%; white-space:normal;" class='btn btn-primary' th:href='|/skill/4/${id}/dm/1/skilldesc|'>
								DM100
							</a>
							<a style="width:100%; white-space:normal;" class='btn btn-primary' th:href='|/skill/6/${id}/dm/1/1|'>
								DM<script>document.write(txtSkill.target[lang]);</script>
							</a>
						</div>
					</div>
				</div>
				<div class='row'>
					<div style="width:100%;" class="col-1">
						<span class='btn btn-secondary'>RE</span>
					</div>
					<div style="width:100%" class='col-11'>
						<div style="width:100%" class='btn-group btn-group-justified' role="group">
							<a style="width:100%; white-space:normal;" class='btn btn-primary' th:href='|/skill/3/${id}/gf/1/skilldesc|'>
								GF100
							</a>
							<a style="width:100%; white-space:normal;" class='btn btn-primary' th:href='|/skill/5/${id}/gf/1/1|'>
								GF<script>document.write(txtSkill.target[lang]);</script>
							</a>
							<a style="width:100%; white-space:normal;" class='btn btn-primary' th:href='|/skill/3/${id}/dm/1/skilldesc|'>
								DM100
							</a>
							<a style="width:100%; white-space:normal;" class='btn btn-primary' th:href='|/skill/5/${id}/dm/1/1|'>
								DM<script>document.write(txtSkill.target[lang]);</script>
							</a>
						</div>
					</div>
				</div>
				<div class='row'>
					<div style="width:100%;" class="col-1">
						<span class='btn btn-secondary'>MX</span>
					</div>
					<div class='col-11'>
						<div style="width:100%" class='btn-group btn-group-justified' role="group">
							<a style="width:100%; white-space:normal;" class='btn btn-primary' th:href='|/skill/7/${id}/gf/1/skilldesc|'>
								GF100
							</a>
							<a style="width:100%; white-space:normal;" class='btn btn-primary' th:href='|/skill/8/${id}/gf/1/1|'>
								GF<script>document.write(txtSkill.target[lang]);</script>
							</a>
							<a style="width:100%; white-space:normal;" class='btn btn-primary' th:href='|/skill/7/${id}/dm/1/skilldesc|'>
								DM100
							</a>
							<a style="width:100%; white-space:normal;" class='btn btn-primary' th:href='|/skill/8/${id}/dm/1/1|'>
								DM<script>document.write(txtSkill.target[lang]);</script>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class='row'>
			<div class='col-12'>
				<span style='text-align:center'><h3>EXCHAIN</h3></span>
			</div>
		</div>
		<div class='row'>
			<div class='col-12'>
				<div style="width:100%" class='btn-group btn-group-justified' role="group">
					<a style="width:100%;" class='btn btn-danger' th:href='|/skill/2/${id}/gf/1/1|'>
						<script>document.write(txtSkill.button.gfallt[lang]);</script>
					</a>
					<a style="width:100%;" class='btn btn-success' th:href='|/skill/0/${id}/gf/1/skilldesc|'>
						<script>document.write(txtSkill.button.gfallp[lang]);</script>
					</a>
					<a style="width:100%;" class='btn btn-danger' th:href='|/skill/2/${id}/dm/1/1|'>
						<script>document.write(txtSkill.button.dmallt[lang]);</script>
					</a>
					<a style="width:100%;" class='btn btn-success' th:href='|/skill/0/${id}/dm/1/skilldesc|'>
						<script>document.write(txtSkill.button.dmallp[lang]);</script>
					</a>
				</div>
				<div style="width:100%" class='btn-group btn-group-justified' role="group">
					<a style="width:100%; white-space:normal;" class='btn btn-primary' th:href='|/skill/1/${id}/gf/1/y?hot=h|'>GF<script>document.write(txtSkill.hot[lang]);document.write(txtSkill.target[lang]);</script></a>
					<a style="width:100%; white-space:normal;" class='btn btn-primary' th:href='|/skill/1/${id}/gf/1/y?hot=o|'>GF<script>document.write(txtSkill.other[lang]);document.write(txtSkill.target[lang]);</script></a>
					<a style="width:100%; white-space:normal;" class='btn btn-primary' th:href='|/skill/1/${id}/dm/1/y?hot=h|'>DM<script>document.write(txtSkill.hot[lang]);document.write(txtSkill.target[lang]);</script></a>
					<a style="width:100%; white-space:normal;" class='btn btn-primary' th:href='|/skill/1/${id}/dm/1/y?hot=o|'>DM<script>document.write(txtSkill.other[lang]);document.write(txtSkill.target[lang]);</script></a>
				</div>
				<div style="width:100%" class='btn-group btn-group-justified' role="group">
					<a style="width:100%; white-space:normal;" class='btn btn-primary' th:href='|/skill/1/${id}/gf/1/n?hot=h|'>GF<script>document.write(txtSkill.hot[lang]);document.write(txtSkill.subs[lang]);</script></a>
					<a style="width:100%; white-space:normal;" class='btn btn-primary' th:href='|/skill/1/${id}/gf/1/n?hot=o|'>GF<script>document.write(txtSkill.other[lang]);document.write(txtSkill.subs[lang]);</script></a>
					<a style="width:100%; white-space:normal;" class='btn btn-primary' th:href='|/skill/1/${id}/dm/1/n?hot=h|'>DM<script>document.write(txtSkill.hot[lang]);document.write(txtSkill.subs[lang]);</script></a>
					<a style="width:100%; white-space:normal;" class='btn btn-primary' th:href='|/skill/1/${id}/dm/1/n?hot=o|'>DM<script>document.write(txtSkill.other[lang]);document.write(txtSkill.subs[lang]);</script></a>
				</div>
			</div>
		</div>
	</th:block>
		<div class="row">
			<div class="col-12">
				<div style="width:100%" class='btn-group btn-group-justified' role="group">
					<a style="width:100%; white-space:normal;" class='btn btn-info' href='/exc/gf'>GF EXC</a>
					<a style="width:100%; white-space:normal;" class='btn btn-info' href='/exc/dm'>DM EXC</a>
				</div>
			</div>
		</div>
	<th:block th:if="${ptype} == 1000">
		<div class="row">
			<div class="col-12">
				<script>document.write(txtSkill.excmenu[lang]);</script>
			</div>
		</div>
	</th:block>
	</div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
	<script src="/js/jquery-3.3.1.min.js"></script>
	<script src="/js/vue.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/html2canvas.js"></script>
    <script src="/js/FileSaver.js"></script>
    <script src="/function/skillfilter.js"></script>
    <script src="/function/skillcolor.js"></script>
    <script src="/function/capture.js"></script>
    <script src="/function/filteranalyzer.js"></script>
    <script src="/function/rivalmanage.js"></script>
    <script src="/function/pageloader.js"></script>
    <script src="/function/pattern.js"></script>
    <script src="/function/version.js"></script>
    <script src="/function/time.js"></script>
    <script src="/function/towertitle.js"></script>
	<script src="/function/pager.js"></script>
    <script src="/function/overall.js"></script>
    <script src="https://apis.google.com/js/platform.js?onload=gsignLoad" async defer></script>
    <div style='display:none'>
		<form action='/logout' id='logout' method='post'>
		</form>
	</div>

	<template id="skill-template">
		<div class="div-table-row skilltable" style="border-bottom: 1px solid black;">
			<!-- 스킬색상 부분 -->
			<div class="div-table-cell" v-bind:style="skill.skillcolor"></div>
			<div class="div-table-cell" style="vertical-align:middle;">
				<!-- 번호 -->
				<span style="font-size:150%;">{{ skill.num }}</span>
			</div>
			<div class="div-table-cell text-center" style="padding:5px !important; margin:0px !important;">
				<!-- 재킷 및 패턴 -->
				<img style="width:100%; width:85px;" v-bind:src="skill.jacketurl" onerror="this.src='/img/music/empty.jpg'" /><br/>
				<img style="width:100%; width:85px;" v-bind:src="skill.pattern" /><br/>
				<span>{{ skill.level }}</span><br/>
				<span>{{ skill.version }}</span>
			</div>
			<!-- 패턴 정보 및 리절트 -->
			<div class='div-table-cell' style="vertical-align:middle">
				<!-- 음악 정보 -->
				<div class='row'>
					<div class='col-12 text-left' style='width:100%;'>
						<div style='display:table; table-layout:fixed; width:100%; white-space: nowrap;'>
							<a class='innerhref' v-bind:href="skill.musiclink" style='font-size: 125%; display:table-cell; overflow-x:hidden; text-overflow:ellipsis;'>
								{{ skill.musicname }}
							</a>
						</div>
					</div>
				</div>
				<!-- 스킬미터 -->
				<div class='row'>
					<div class='col-12 text-left' v-html="skill.meter"></div>
				</div>
				<!-- 기록정보 -->
				<div class='row'>
					<div class='col-12 text-left'>
						<span>
							<img class='skillrank-img' v-bind:src="skill.rankimg" />
							<span v-html="skill.fcimg"></span>
						</span>
					</div>
				</div>
				<div class='row'>
					<div class='col-12 text-left'>
						{{ skill.rate }}% / {{ skill.skill }}
					</div>
				</div>
				<!-- 라이벌 기록정보 -->
				<div class='row' v-bind:style="skill.rivaldiv">
					<div class='col-12 text-left'>
						<span>vs {{ skill.rivalname }}</span><br/>
						<span>
							<img class='skillrank-img' v-bind:src="skill.rivalrank" />
							<span v-html="skill.rivalfc"></span>
							/ {{ skill.rivalrate }}%
							<span v-html="skill.rivaldiffrate"></span>
							/ {{skill.rivalskill }}
							<span v-html="skill.rivaldiffskill"></span>
						</span>
					</div>
				</div>
			</div>
		</div>
	</template>

	<script th:inline="javascript">
	// Filter
	$("#verfilter").append(generateVerFilter(false));

	var bus = new Vue();
	var exchot = 0;
	var excoth = 0;
	var oldnav = 0;

	var ptype = /*[[${ptype}]]*/0;
	var gtype = /*[[${gtype}]]*/'';
	var id = /*[[${id}]]*/0;
	var order = /*[[${order}]]*/'';
	var hot = /*[[${hot}]]*/'';
	var stype = /*[[${stype}]]*/'';
	var lv = /*[[${lv}]]*/0;
	var rank = /*[[${rank}]]*/0;
	var ver = /*[[${ver}]]*/'';
	var rival = /*[[${rival}]]*/0;
	var token = /*[[${token}]]*/'';
	var page = /*[[${page}]]*/0;

	Vue.component('skill-table', {
		template: '#skill-template',
		props: {
			skill: Object
		}
	});

	var vmScrshot = new Vue({
		el: '#scrshotdiv',
		data: {
			scrpage: 'checkScr()',
			scrpagetxt: txtSkill.scrshotp[lang],
			scrcurtxt: txtSkill.scrshot[lang]
		}
	});

	function checkScr() {
		if(ptype == 1000) {
			window.location.href = '/skillscr/1000/0/'+gtype+'/0/none';
		}
		else {
			var urlbase = window.location.href.split('/skill/')[1];
			window.location.href = '/skillscr/'+urlbase;
		}
	}

	var vmSkill = new Vue({
		el: '#targetTable',
		data: {
			skillList: [],
			hotList: [],
			otherList: [],
			sum1: 0,
			sum2: 0
		},
		methods: {
			sendSum: function() {
				bus.$emit('sendSum', this.sum1+'|'+this.sum2)
			}
		},
		created: function() {
			var self = this;

			$.ajax(generateURL())
			.done(function(data) {
				var json = JSON.parse(data);

				if(json.skill.length > 0) {
					$("#halfTableLeft").hide();
					$("#halfTableRight").hide();
					for(var i = 0; i < json.skill.length; i++) {
						var cur = json.skill[i];
						var obj = generateTable(cur, i, json.page, ptype, 0);

						self.sum1 += obj.skill1;

						if(json.rivaluser != null) {
							obj = generateTableRival(obj, json.rivaluser, json.rivaldata[i]);
						}
						else {
							obj.rivaldiv = "display:none";
						}

						self.skillList.push(obj);
					}
				}
				if(json.hskill.length > 0) {
					$("#fullTable").hide();
					for(var i = 0; i < json.hskill.length; i++) {
						var cur = json.hskill[i];
						var obj = generateTable(cur, i, json.page, ptype, 1);

						self.sum1 += obj.skill1;
						exchot = self.sum1;

						if(json.rivaluser != null) {
							obj = generateTableRival(obj, json.rivaluser, json.hrival[i]);
						}
						else {
							obj.rivaldiv = "display:none";
						}

						self.hotList.push(obj);
					}
				}
				if(json.oskill.length > 0) {
					$("#fullTable").hide();
					for(var i = 0; i < json.oskill.length; i++) {
						var cur = json.oskill[i];
						var obj = generateTable(cur, i, json.page, ptype, 2);

						self.sum2 += obj.skill2;
						excoth = self.sum2;

						if(json.rivaluser != null) {
							obj = generateTableRival(obj, json.rivaluser, json.orival[i]);
						}
						else {
							obj.rivaldiv = "display:none";
						}

						self.otherList.push(obj);
					}
				}
				
				updateRivalSelector(json.rival, json.user);
				updatePager(json.pages);
				
				var towertitlesp = document.createElement("span");
				// 칭호 표시
				getTowerTitle(json.user.id, function(result) {
					if(result != "") {
						var timg = document.createElement("img");
						timg.setAttribute("class", "towertitle35");
						timg.src = "/img/title/"+result+".png";
						towertitlesp.appendChild(timg);
					}
				});
				
				$("#nameTop").append(towertitlesp);
				$("#nameTop").append("<a class='innerhref' href='/profile/"+json.user.id+"'>"+json.user.name+"</a>");
				$("#timeTop").append(new Date(json.user.updatetime));
				
				if(json.skill.length == 0 && json.hskill.length == 0 && json.oskill.length == 0) {
					$("#skillEmpty").append("<h3>"+txtSkill.tablehead.empty[lang]+"</h3>");
				}
				
				self.sendSum();
			});
		},
		updated: function() {
			$("#loading").hide();
		}
	});

	var vmInfo = new Vue({
		el: '#statusBar',
		data: {
			statLeftTitle: '',
			statLeft: '',
			statMidTitle: '',
			statMid: '',
			statRightTitle: '',
			statRight: '',
			oldver: txtSkill.oldver[lang],
			sum1: '',
			sum2: ''
		},
		mounted: function() {
			var self = this;

			bus.$on('sendSum', function(value) {
				var sum = value.split('|');
				//this.sum1 = parseFloat(sum[0]).toFixed(2);
				//this.sum2 = parseFloat(sum[1]).toFixed(2);
				Vue.set(vmInfo.$data, 'sum1', parseFloat(sum[0]).toFixed(2));
				Vue.set(vmInfo.$data, 'sum2', parseFloat(sum[1]).toFixed(2));

				switch(ptype) {
					case 2:
						vmInfo.statMid = vmInfo.sum1;
						vmInfo.statRight = vmInfo.sum2;
						break;
					case 5:
					case 6:
					case 8:
						vmInfo.statMid = vmInfo.sum1;
						vmInfo.statRight = vmInfo.sum2;
						vmInfo.statLeft = (parseFloat(vmInfo.sum1)+parseFloat(vmInfo.sum2)).toFixed(2);
						break;
					case 1:
						vmInfo.statMid = vmInfo.sum1;
						break;
					case 1000:
						if(gtype == "gf") {
							self.statLeftTitle = "GF Skill";
						}
						else if(gtype == "dm") {
							self.statLeftTitle = "DM Skill";
						}
						vmInfo.statMidTitle = "Hot Skill";
						vmInfo.statRightTitle = "Other Skill";
						vmInfo.statMid = exchot.toFixed(2);
						vmInfo.statRight = excoth.toFixed(2);
						vmInfo.statLeft = (exchot+excoth).toFixed(2);
						break;
				}
			});

			if(ptype != 1000) {
				$.ajax('/d/getuserid/'+id)
				.done(function(data) {
					var json = JSON.parse(data).mydata;

					if(gtype == "gf") {
						self.statLeftTitle = "GF Skill";
						self.statLeft = json.gskill;
					}
					else if(gtype == "dm") {
						self.statLeftTitle = "DM Skill";
						self.statLeft = json.dskill;
					}

					switch(ptype) {
						case 0:
						case 3:
						case 4:
						case 7:
							self.statMidTitle = "Order";

							switch(order) {
							case "skillasc":
								self.statMid = txtSkill.order.skillasc[lang];
								break;
							case "skilldesc":
								self.statMid = txtSkill.order.skilldesc[lang];
								break;
							case "titleasc":
								self.statMid = txtSkill.order.titleasc[lang];
								break;
							case "titledesc":
								self.statMid = txtSkill.order.titledesc[lang];
								break;
							case "verasc":
								self.statMid = txtSkill.order.verasc[lang];
								break;
							case "verdesc":
								self.statMid = txtSkill.order.verdesc[lang];
								break;
							case "rateasc":
								self.statMid = txtSkill.order.rateasc[lang];
								break;
							case "ratedesc":
								self.statMid = txtSkill.order.ratedesc[lang];
								break;
							case "playtime":
								self.statMid = txtSkill.order.playdesc[lang];
								break;
							}

							self.statRightTitle = "Recent Update";
							self.statRight = json.updatetime;
							break;
						case 2:
						case 5:
						case 6:
						case 8:
							vmInfo.statMidTitle = "Hot Skill";
							vmInfo.statRightTitle = "Other Skill";
							break;
						case 1:
							if(hot == "h") {
								vmInfo.statMidTitle = "Hot Total";
							}
							else if(hot == "o") {
								vmInfo.statMidTitle = "Other Total";
							}
							self.statRightTitle = "Recent Update";
							self.statRight = json.updatetime;
							break;
						}
				});
			}
		},
		updated: function() {
			updateColor();
		}
	});

	function generateTable(cur, i, page, ptype, side) {
		var obj = {};
		obj.num = (page-1)*30+i+1;
		obj.jacketurl = "/img/music/"+cur.musicid+".jpg";
		obj.musiclink = "/music/"+cur.musicid+"/"+id;
		obj.musicname = cur.mname;
		obj.level = (cur.level/100).toFixed(2);
		obj.version = GDVer[cur.version-1].sv;
		obj.meter = "";//"graph"+ptype+i;
		obj.rankimg = getRankImg(cur.rank);
		obj.skill1 = 0;
		obj.skill2 = 0;
		obj.pattern = getPatternImg600(cur.patterncode);

		if(cur.checkfc == "Y") {
			if(cur.rank != "EXC") {
				obj.fcimg = "<img class='fc-img' src='/img/rank/fc_600.png' />";
				}
			else {
				obj.fcimg = "<img class='fc-img' src='/img/rank/exc_600.png' />";
			}
		}
		else {
			if(cur.playtime > 0) {
				obj.fcimg = "<img class='fc-img' src='/img/rank/cleared_600.png' />";
			}
			else {
				obj.fcimg = "<img class='fc-img' src='/img/rank/notplayed_600.png' />";
			}
			if(cur.combo == 0) {
				obj.fcimg = "";
			}
		}

		var rate = cur.rate;
		if(ptype == 4 || ptype == 6) rate = cur.ratetb;
		else if(ptype == 3 || ptype == 5) rate = cur.ratetbre;
		else if(ptype == 7 || ptype == 8) rate = cur.ratemx;

		obj.rate = (rate/100).toFixed(2);
		obj.skill = Math.floor(rate*cur.level*20/10000)/100;
		if(side == 0 || side == 1) {
			obj.skill1 += obj.skill;
		}
		else if(side == 2) {
			obj.skill2 += obj.skill;
		}
		obj.skill = obj.skill.toFixed(2);
		obj.skillcolor = "display: inline-block; width:10px !important; height:100%; "+skillTableColor(rate*cur.level*20);

		var meter = cur.meter.split('');
		for(var k = 0; k < meter.length; k++) {
			if(meter[k] == "0") {
				if(side == 1 || side == 2) {
					var media = window.matchMedia("(max-width: 768px)");
					if(media.matches) {
						obj.meter += "<div style='width:0.5vw; max-width:9px; background-color:#81BEF7; float:left'>&nbsp;</div>";
					}
					else {
						obj.meter += "<div style='width:0.25vw; max-width:9px; background-color:#81BEF7; float:left'>&nbsp;</div>";
					}
					
				}
				else {
					obj.meter += "<div style='width:0.5vw; max-width:9px; background-color:#81BEF7; float:left'>&nbsp;</div>";
				}
			}
			else if(meter[k] == "1") {
				if(side == 1 || side == 2) {
					var media = window.matchMedia("(max-width: 768px)");
					if(media.matches) {
						obj.meter += "<div style='width:0.5vw; max-width:9px; background-color:#F3F781; float:left'>&nbsp;</div>";
					}
					else {
						obj.meter += "<div style='width:0.25vw; max-width:9px; background-color:#F3F781; float:left'>&nbsp;</div>";
					}
				}
				else {
					obj.meter += "<div style='width:0.5vw; max-width:9px; background-color:#F3F781; float:left'>&nbsp;</div>";
				}
				
			}
			else {
				if(side == 1 || side == 2) {
					var media = window.matchMedia("(max-width: 768px)");
					if(media.matches) {
						obj.meter += "<div style='width:0.5vw; max-width:9px; background-color:#848484; float:left'>&nbsp;</div>";
					}
					else {
						obj.meter += "<div style='width:0.25vw; max-width:9px; background-color:#848484; float:left'>&nbsp;</div>";
					}
					
				}
				else {
					obj.meter += "<div style='width:0.5vw; max-width:9px; background-color:#848484; float:left'>&nbsp;</div>";
				}
			}
		}

		return obj;
	}

	function generateTableRival(obj, rivaluser, rivaldata) {
		// 라이벌 정보 추가
		var crival = rivaldata;
		if(crival != null) {
			obj.rivalname = rivaluser.name;
			obj.rivalrank = getRankImg(crival.rank);

			if(crival.checkfc == "Y") {
				if(crival.rank != "EXC") {
					obj.rivalfc = "<img class='skillrank-img' src='/img/rank/fc.png' />";
				}
				else {
					obj.rivalfc = "<img class='skillrank-img' src='/img/rank/exc.png' />";
				}
			}
			else {
				obj.rivalfc = "";
			}
			
			obj.rivalrate = (crival.rate/100).toFixed(2);

			var ratediff = crival.rate - obj.rate;
			if(ratediff > 0) {
				obj.rivaldiffrate = "<font color='red'><b>(+"+(ratediff/100).toFixed(2)+"%)</b></font>";
			}
			else if(ratediff < 0) {
				obj.rivaldiffrate = "<font color='blue'><b>("+(ratediff/100).toFixed(2)+"%)</b></font>";
			}
			else {
				obj.rivaldiffrate = "<b>(±0%)</b>";
			}

			var rivals = crival.rate*obj.level*20/10000;
			obj.rivalskill = (rivals).toFixed(2);

			var skilldiff = rivals - obj.skill;
			if(skilldiff > 0) {
				obj.rivaldiffskill = "<font color='red'><b>(+"+(skilldiff/100).toFixed(2)+")</b></font>";
			}
			else if(skilldiff > 0) {
				obj.rivaldiffskill = "<font color='red'><b>("+(skilldiff/100).toFixed(2)+")</b></font>";
			}
			else {
				obj.rivaldiffskill = "<b>(±0)</b>";
			}
		}
		else {
			obj.rivalname = rivaluser.name;
			obj.rivalrank = getRankImg('C');
			obj.rivalfc = '';
			obj.rivalrate = 0;
			obj.rivalskill = 0;
			obj.rivaldiffrate = '';
			obj.rivaldiffskill = '';
		}

		return obj;
	}

	function generateURL() {
		var baseUrl = "";
		var extvar = "";

		if(ptype == 1000) {
			baseUrl = "/d/exc/"+gtype;//+'/'+stype;

			if(hot != null) {
				extvar = "?hot="+hot;
			}
		}
		else {
			baseUrl = '/d/skill/'+ptype+'/'+id+'/'+gtype+'/'+page+'/'+order;
			if(lv != null) {
				if(extvar == "") extvar += "?lv="+lv;
				else extvar += "&lv="+lv;
			}
			if(rank != null) {
				if(extvar == "") extvar += "?rank="+rank;
				else extvar += "&rank="+rank;
			}
			if(ver != null) {
				if(extvar == "") extvar += "?ver="+ver;
				else extvar += "&ver="+ver;
			}
			if(hot != null) {
				if(extvar == "") extvar += "?hot="+hot;
				else extvar += "&hot="+hot;
			}
			if(rival != null) {
				if(extvar == "") extvar += "?rival=${rival}";
				else extvar += "&rival=${rival}"
			}
		}
		
		return baseUrl+extvar;
	}

	function getRankImg(rank) {
		var img = "";

		switch(rank) {
		case "E":
			img = "/img/rank/rank_e.png";
			break;
		case "D":
			img = "/img/rank/rank_d.png";
			break;
		case "C":
			img = "/img/rank/rank_c.png";
			break;
		case "B":
			img = "/img/rank/rank_b.png";
			break;
		case "A":
			img = "/img/rank/rank_a.png";
			break;
		case "S":
			img = "/img/rank/rank_s.png";
			break;
		case "SS":
		case "EXC":
			img = "/img/rank/rank_ss.png";
			break;
		}

		return img;
	}
	
	function updateRivalSelector(rival, user) {
		var ext = "";
		if(user.token == token && rival.length > 0) {
			ext +=
				"<select class='form-control' id='rival' onchange='setRival(this.value)'>"+
					"<option value='0'>No Select</option>";
			for(var i = 0; i < rival.length; i++) {
				ext +=
					"<option value='"+rival[i].id+"'>"+rival[i].name+"</option>";
			}
		}
		else if(user.token == token && rival.length == 0) {
			ext += txtSkill.rival.no[lang];
		}
		else {
			ext += txtSkill.rival.cant[lang];
		}
		$("#rivalSelector").append(ext);
	}
	
	// pager
	function updatePager(pages) {
		var cpage = page;
		var extvar = "";
		if(lv != null) {
			if(extvar == "") extvar += "?lv="+lv;
			else extvar += "&lv="+lv;
		}
		if(rank != null) {
			if(extvar == "") extvar += "?rank="+rank;
			else extvar += "&rank="+rank;
		}
		if(ver != null) {
			if(extvar == "") extvar += "?ver="+ver;
			else extvar += "&ver="+ver;
		}
		if(hot != null) {
			if(extvar == "") extvar += "?hot="+hot;
			else extvar += "&hot="+hot;
		}
		if(rival != null) {
			if(extvar == "") extvar += "?rival="+rival;
			else extvar += "&rival="+rival;
		}
		
		var urla = '/skill/'+ptype+'/'+id+'/'+gtype+'/';
		var urlb = '/'+order+extvar;

		$("#pager").append(createPager(cpage, pages, urla, urlb));
	}
	
	//signout
	function gsignLoad() {
		gapi.load('auth2', function() {
			gapi.auth2.init();
		});
	}
	
	function signOut() {
		var auth2 = gapi.auth2.getAuthInstance();
		auth2.signOut().then(function() {
			console.log('User signed out.');
		});
		$("#logout").submit();
	}
	
	$(function() {
		var fa = new filteranalyzer();
		fa.getLevel(lv);
		if(rank != null) fa.getRank(rank.toString());
		if(ver != null) fa.getVersion(ver.toString());
		if(hot != null) fa.getHot(hot);
		if(order != null) fa.getOrder(order);
	});

	function openSkillNav() {
		var media = window.matchMedia("(max-width: 768px)");
		if(media.matches) {
			document.getElementById("skillSideMenu").style.width = "100%";
		}
		else {
			document.getElementById("skillSideMenu").style.width = "50%";
		}
		
	}

	function closeSkillNav() {
		document.getElementById("skillSideMenu").style.width = "0";
	}
	</script>
	<div th:insert="header :: header"></div>
	<div th:insert="header :: menu"></div>
	<div th:insert="footer :: footer"></div>
  </body>
</html>
