<!-- /*****************************************************
 * GITADORA Info Server
 * Developed by Tae Jun Kang a.k.a Prunus Nira
 * (c) Nira 2016
 *
 * 1. This project is protected under GNU AGPL v3.0
 *    Please refer to LICENSE file on root
 * 2. Also, products and libraries used to implement
 *    this server are on USED-LIBRARIES file on root
 *****************************************************/ -->
 <!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<meta name="description" content="">
<meta name="author" content="">
<meta name="google-signin-client_id"
	content="signin_client_id.apps.googleusercontent.com">
<link rel="icon" href="/favicon.ico">

<script src="/function/language.js"></script>
<script src="/function/language/about2.js"></script>
<title>GITADORA Info</title>

<!-- Bootstrap core CSS -->
<link href="/css/bootstrap.min.css" rel="stylesheet">
<!-- Custom css -->
<link href="/css/custom/header.css" rel="stylesheet">
<link href="/css/custom/footer.css" rel="stylesheet">

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
	
	<!-- Google Adsense -->
	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<script>
		(adsbygoogle = window.adsbygoogle || []).push({
			google_ad_client: "ca-pub-adsense_id",
			enable_page_level_ads: true
		});
	</script>
</head>

<body>
	<section class="container">
		<div class="pagetop text-center">
			<div class="row">
				<div class="col-12">
					<h1>How to use</h1>
				</div>
			</div>
    		<div class="row">
				<div class="col-12">
					<span style="font-size:75%"><script>document.write(txtAbout2.desc[lang]);</script></span><br/>
					<span>
						<a class="btn btn-primary" href="/about0">
			    			<script>document.write(txtAbout2.update_au[lang]);</script>
			    		</a>
			    		<a class="btn btn-primary" href="/about1">
			    			<script>document.write(txtAbout2.update_man[lang]);</script>
			    		</a>
			    		<a class="btn btn-primary" href="/about2">
			    			<script>document.write(txtAbout2.filter_rival[lang]);</script>
			    		</a>
					</span>
				</div>
			</div>
    	</div>
	</section>
	
	<section class="container">
		<div class='row'>
	    	<div class="col-12">
				<h2>1. 
					<script>
						document.write(txtAbout2.ftitle[lang]);
					</script>
				</h2>
				<div id="filterimg1"></div><br/><br/>
				<span>
					<script>
						document.write(txtAbout2.fd1[lang]);
					</script>
				</span><br/><br/>
				<div id="filterimg2"></div><br/><br/>
				<span>
					<script>
						document.write(txtAbout2.fd2[lang]);
					</script>
				</span>
			</div>
			<div class="col-12">
				&nbsp;<br/>&nbsp;<br/>&nbsp;<br/>&nbsp;
			</div>
			<div class="col-12">
				<h2>2. 
					<script>
						document.write(txtAbout2.rtitle[lang]);
					</script>
				</h2>
				<h3>(1) 
					<script>
						document.write(txtAbout2.rd1.title[lang]);
					</script>
				</h3>
				<span>
					<script>
						document.write(txtAbout2.rd1.s1[lang]);
					</script>
				</span>
				<span>
					<script>
						document.write(txtAbout2.rd1.s2[lang]);
					</script>
				</span>
				<div id="rivadd1"></div><br/><br/>
				<span>
					<script>
						document.write(txtAbout2.rd1.s3[lang]);
					</script>
				</span>
				<div id="rivadd2"></div><br/><br/>
				<span>
					<script>
						document.write(txtAbout2.rd1.s4[lang]);
					</script>
				</span>
				<div id="rivadd3"></div><br/><br/>
				<span>
					<script>
						document.write(txtAbout2.rd1.s5[lang]);
					</script>
				</span>
				<div id="rivlist"></div><br/><br/>
				<h3>(2) 
					<script>
						document.write(txtAbout2.rd2.title[lang]);
					</script>
				</h3>
				<span>
					<script>
						document.write(txtAbout2.rd2.s1[lang]);
					</script>
				</span>
				<span>
					<script>
						document.write(txtAbout2.rd2.s2[lang]);
					</script>
				</span>
				<div id="rivsel"></div><br/><br/>
				<div id="rivresult"></div>
			</div>
	    </div>
	</section>
	
	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="/js/jquery-3.3.1.min.js"></script>
	<script src="/js/vue.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/function/overall.js"></script>
    <script src="https://apis.google.com/js/platform.js?onload=gsignLoad" async defer></script>
	<div style='display: none'>
		<form action='/logout' id='logout' method='post'></form>
	</div>
	<script>
	function copyToClipboard(element) {
		var $temp = $("<input>");
		$("body").append($temp);
		$temp.val(element).select();
		document.execCommand("copy");
		$temp.remove();
	}
	
	function gsignLoad() {
		gapi.load('auth2', function() {
			gapi.auth2.init();
		});
	}
	
	function signOut() {
		var auth2 = gapi.auth2.getAuthInstance();
		auth2.signOut().then(function() {
			console.log('User signed out.');
		});
		$("#logout").submit();
	}
	
	function divSwapPC() {
		$("#howtomobile").hide();
		$("#howtopc").show();
	}
	
	function divSwapMO() {
		$("#howtomobile").show();
		$("#howtopc").hide();
	}
	
	if(lang == "ko") {
		$("#filterimg1").append('<img class="carousel-img" '+
				'src="/img/about2/filter1k.jpg" />');
		$("#filterimg2").append('<img class="carousel-img" '+
				'src="/img/about2/filter2k.jpg" />');
		$("#rivadd1").append('<img class="carousel-img" '+
				'src="/img/about3/add1k.jpg" />');
		$("#rivadd2").append('<img class="carousel-img" '+
				'src="/img/about3/add2k.jpg" />');
		$("#rivadd3").append('<img class="carousel-img" '+
				'src="/img/about3/add3k.jpg" />');
		$("#rivlist").append('<img class="carousel-img" '+
				'src="/img/about3/listk.jpg" />');
		$("#rivsel").append('<img class="carousel-img" '+
				'src="/img/about3/selk.jpg" />');
		$("#rivresult").append('<img class="carousel-img" '+
				'src="/img/about3/resultk.jpg" />');
	}
	else if(lang == "jp"){
		$("#filterimg1").append('<img class="carousel-img" '+
				'src="/img/about2/filter1j.png" />');
		$("#filterimg1").append('<img class="carousel-img" '+
				'src="/img/about2/filter2j.png" />');
		$("#rivadd1").append('<img class="carousel-img" '+
				'src="/img/about3/add1j.jpg" />');
		$("#rivadd2").append('<img class="carousel-img" '+
				'src="/img/about3/add2j.jpg" />');
		$("#rivadd3").append('<img class="carousel-img" '+
				'src="/img/about3/add3j.jpg" />');
		$("#rivlist").append('<img class="carousel-img" '+
				'src="/img/about3/listj.jpg" />');
		$("#rivsel").append('<img class="carousel-img" '+
				'src="/img/about3/selj.jpg" />');
		$("#rivresult").append('<img class="carousel-img" '+
				'src="/img/about3/resultj.jpg" />');
	}
	</script>
	<div th:insert="header :: header"></div>
	<div th:insert="header :: menu"></div>
	<div th:insert="footer :: footer"></div>
</body>
</html>
