<!-- /*****************************************************
 * GITADORA Info Server
 * Developed by Tae Jun Kang a.k.a Prunus Nira
 * (c) Nira 2016
 *
 * 1. This project is protected under GNU AGPL v3.0
 *    Please refer to LICENSE file on root
 * 2. Also, products and libraries used to implement
 *    this server are on USED-LIBRARIES file on root
 *****************************************************/ -->
 <!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="google-signin-client_id"
      content="signin_client_id.apps.googleusercontent.com">
    <link rel="icon" href="/favicon.ico">

    <script src="/function/language.js"></script>
    <title>GITADORA Info</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
	<!-- Custom css -->
	<link href="/css/custom/header.css" rel="stylesheet">
	<link href="/css/custom/footer.css" rel="stylesheet">
	<link href="/css/custom/table.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
	
	<!-- Google Adsense -->
	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<script>
		(adsbygoogle = window.adsbygoogle || []).push({
			google_ad_client: "ca-pub-adsense_id",
			enable_page_level_ads: true
		});
	</script>
  </head>

  <body>
  	<section class="container" id="loading">
  		<h1>LOADING... Please wait</h1>
	</section>
	
	<section class="container">
		<div class="row">
			<div class='col-12 text-center'>
    			<h2>Clear Status Table</h2>
			</div>
    	</div>
		<div class='row text-center'>
			<div class='col-12 text-center' id="profile">
				<a v-bind:href="profilelink" class='innerhref' style='font-size:130%'>
				<span v-html="towertitle"></span>
				{{ username }} ⓟ
				</a>
			</div>
		</div>
	</section>
	
	<section class="container">
		<!-- Rank table for GF -->
		<div class="row">
			<div class="col-12">
				<h3>GuitarFreaks</h3>
			</div>
		</div>
		<div class="row">
			<div class="div-table" id="gcleartable">
				<div class="div-table-header">
					<div class="div-table-cell">Rank</div>
					<div class="div-table-cell">EXC</div>
					<div class="div-table-cell">SS</div>
					<div class="div-table-cell">S</div>
					<div class="div-table-cell">A</div>
					<div class="div-table-cell">B</div>
					<div class="div-table-cell">C</div>
					<div class="div-table-cell">Failed</div>
					<div class="div-table-cell">NoPlay</div>
					<div class="div-table-cell">Total</div>
				</div>
				<clear-row v-for="clear in clearlist" v-bind:clear="clear"></clear-row>
			</div>
		</div>
		
		<!-- Rank table for DM -->
		<div class="row">
			<div class="col-12">
				<h3>DrumMania</h3>
			</div>
		</div>
		<div class="row">
			<div class="div-table" id="dcleartable">
				<div class="div-table-header">
					<div class="div-table-cell">Rank</div>
					<div class="div-table-cell">EXC</div>
					<div class="div-table-cell">SS</div>
					<div class="div-table-cell">S</div>
					<div class="div-table-cell">A</div>
					<div class="div-table-cell">B</div>
					<div class="div-table-cell">C</div>
					<div class="div-table-cell">Failed</div>
					<div class="div-table-cell">NoPlay</div>
					<div class="div-table-cell">Total</div>
				</div>
				<clear-row v-for="clear in clearlist" v-bind:clear="clear"></clear-row>
			</div>
		</div>
	</section>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
	<script src="/js/jquery-3.3.1.min.js"></script>
	<script src="/js/vue.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/function/overall.js"></script>
    <script src="https://apis.google.com/js/platform.js?onload=gsignLoad" async defer></script>
    <div style='display:none'>
		<form action='/logout' id='logout' method='post'>
		</form>
	</div>

	<template id="clear-template">
		<div class="div-table-row">
			<div class="div-table-cell">{{ clear.level }}</div>
			<div class="div-table-cell">{{ clear.exc }}</div>
			<div class="div-table-cell">{{ clear.ss }}</div>
			<div class="div-table-cell">{{ clear.s }}</div>
			<div class="div-table-cell">{{ clear.a }}</div>
			<div class="div-table-cell">{{ clear.b }}</div>
			<div class="div-table-cell">{{ clear.c }}</div>
			<div class="div-table-cell">{{ clear.f }}</div>
			<div class="div-table-cell">{{ clear.n }}</div>
			<div class="div-table-cell">{{ clear.all }}</div>
		</div>
	</template>

	<script th:inline="javascript">
	Vue.component('clear-row', {
		template: '#clear-template',
		props: {
			clear: Object
		}
	});

	var gfload = false;
	var dmload = false;
	var statload = false;

	var id = /*[[${id}]]*/0;

	var vmGClear = new Vue({
		el: '#gcleartable',
		data: {
			clearlist: []
		},
		created: function() {
			var self = this;
			$.ajax('/d/cleartable/gf/'+id)
			.done(function(data) {
				var json = JSON.parse(data).ctable;
				var gval = [ 0, 0, 0, 0, 0, 0, 0, 0];

				for(var i = 0; i < 19; i++) {
					var obj = {};
					if(i < 18) {
						obj.exc = json.patternCountGF["EXC"][i];
						obj.ss = json.patternCountGF["SS"][i];
						obj.s = json.patternCountGF["S"][i];
						obj.a = json.patternCountGF["A"][i];
						obj.b = json.patternCountGF["B"][i];
						obj.c = json.patternCountGF["C"][i];
						obj.f = json.patternCountGF["F"][i];
						obj.all = json.totalPatternCountGF[i];

						gval[0] += obj.exc;
						gval[1] += obj.ss;
						gval[2] += obj.s;
						gval[3] += obj.a;
						gval[4] += obj.b;
						gval[5] += obj.c;
						gval[6] += obj.f;
						gval[7] += obj.all;

						obj.n = obj.all-obj.exc-obj.ss-obj.s-obj.a-obj.b-obj.c-obj.f;

						switch(i) {
							case 0: obj.level = '1.00~'; break;
							case 1: obj.level = '1.50~'; break;
							case 2: obj.level = '2.00~'; break;
							case 3: obj.level = '2.50~'; break;
							case 4: obj.level = '3.00~'; break;
							case 5: obj.level = '3.50~'; break;
							case 6: obj.level = '4.00~'; break;
							case 7: obj.level = '4.50~'; break;
							case 8: obj.level = '5.00~'; break;
							case 9: obj.level = '5.50~'; break;
							case 10: obj.level = '6.00~'; break;
							case 11: obj.level = '6.50~'; break;
							case 12: obj.level = '7.00~'; break;
							case 13: obj.level = '7.50~'; break;
							case 14: obj.level = '8.00~'; break;
							case 15: obj.level = '8.50~'; break;
							case 16: obj.level = '9.00~'; break;
							case 17: obj.level = '9.50~'; break;
						}

						self.clearlist.push(obj);
					}
					else {
						obj.level = 'Total';
						
						obj.exc = gval[0];
						obj.ss = gval[1];
						obj.s = gval[2];
						obj.a = gval[3];
						obj.b = gval[4];
						obj.c = gval[5];
						obj.f = gval[6];
						obj.all = gval[7];
						obj.n = gval[7] - gval[0] - gval[1] - gval[2] - gval[3] - gval[4] - gval[5] - gval[6];
						
						self.clearlist.push(obj);
					}
				}
				gfload = true;
				removeLoad();
			});
		}
	});

	var vmDClear = new Vue({
		el: '#dcleartable',
		data: {
			clearlist: []
		},
		created: function() {
			var self = this;
			$.ajax('/d/cleartable/dm/'+id)
			.done(function(data) {
				var json = JSON.parse(data).ctable;
				var dval = [ 0, 0, 0, 0, 0, 0, 0, 0];

				for(var i = 0; i < 19; i++) {
					var obj = {};
					if(i < 18) {
						obj.exc = json.patternCountDM["EXC"][i];
						obj.ss = json.patternCountDM["SS"][i];
						obj.s = json.patternCountDM["S"][i];
						obj.a = json.patternCountDM["A"][i];
						obj.b = json.patternCountDM["B"][i];
						obj.c = json.patternCountDM["C"][i];
						obj.f = json.patternCountDM["F"][i];
						obj.all = json.totalPatternCountDM[i];

						dval[0] += obj.exc;
						dval[1] += obj.ss;
						dval[2] += obj.s;
						dval[3] += obj.a;
						dval[4] += obj.b;
						dval[5] += obj.c;
						dval[6] += obj.f;
						dval[7] += obj.all;

						obj.n = obj.all-obj.exc-obj.ss-obj.s-obj.a-obj.b-obj.c-obj.f;

						switch(i) {
							case 0: obj.level = '1.00~'; break;
							case 1: obj.level = '1.50~'; break;
							case 2: obj.level = '2.00~'; break;
							case 3: obj.level = '2.50~'; break;
							case 4: obj.level = '3.00~'; break;
							case 5: obj.level = '3.50~'; break;
							case 6: obj.level = '4.00~'; break;
							case 7: obj.level = '4.50~'; break;
							case 8: obj.level = '5.00~'; break;
							case 9: obj.level = '5.50~'; break;
							case 10: obj.level = '6.00~'; break;
							case 11: obj.level = '6.50~'; break;
							case 12: obj.level = '7.00~'; break;
							case 13: obj.level = '7.50~'; break;
							case 14: obj.level = '8.00~'; break;
							case 15: obj.level = '8.50~'; break;
							case 16: obj.level = '9.00~'; break;
							case 17: obj.level = '9.50~'; break;
						}
						self.clearlist.push(obj);
					}
					else {
						obj.level = 'Total';
						obj.exc = dval[0];
						obj.ss = dval[1];
						obj.s = dval[2];
						obj.a = dval[3];
						obj.b = dval[4];
						obj.c = dval[5];
						obj.f = dval[6];
						obj.all = dval[7];
						obj.n = dval[7] - dval[0] - dval[1] - dval[2] - dval[3] - dval[4] - dval[5] - dval[6];
						self.clearlist.push(obj);
					}
				}
				dmload = true;
				removeLoad();
			});
		}
	});

	var vmProfile = new Vue({
		el: '#profile',
		data: {
			username: '',
			profilelink: '',
			towertitle: ''
		},
		created: function() {
			var self = this;
			$.ajax('/d/getuserid/'+id)
			.done(function(data) {
				var json = JSON.parse(data).mydata;
				self.username = json.name;
				self.profilelink = "/profile/"+id;

				if(json.titletower != "") {
					self.towertitle = "<img src='/img/title/"+json.titletower+".png' class='towertitle50' />";
				}

				statload = true;
				removeLoad();
			});
		}
	});

	function removeLoad() {
		if(gfload && dmload && statload)
			$("#loading").hide();
	}
	
	//signout
	function gsignLoad() {
		gapi.load('auth2', function() {
			gapi.auth2.init();
		});
	}
	
	function signOut() {
		var auth2 = gapi.auth2.getAuthInstance();
		auth2.signOut().then(function() {
			console.log('User signed out.');
		});
		$("#logout").submit();
	}
	</script>
	<div th:insert="header :: header"></div>
	<div th:insert="footer :: footer"></div>
	<script src="/function/menu.js"></script>
  </body>
</html>
