<!-- /*****************************************************
 * GITADORA Info Server
 * Developed by Tae Jun Kang a.k.a Prunus Nira
 * (c) Nira 2016
 *
 * 1. This project is protected under GNU AGPL v3.0
 *    Please refer to LICENSE file on root
 * 2. Also, products and libraries used to implement
 *    this server are on USED-LIBRARIES file on root
 *****************************************************/ -->
 <!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="google-signin-client_id"
      content="clientid.apps.googleusercontent.com">
    <link rel="icon" href="/favicon.ico">

    <script src="/function/language.js"></script>
	<script src="/function/language/notplayed.js"></script>
    <title>GITADORA Info</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
	<!-- Custom css -->
	<link href="/css/custom/header.css" rel="stylesheet">
	<link href="/css/custom/footer.css" rel="stylesheet">
	<link href="/css/custom/table.css" rel="stylesheet">
	<link href="/css/custom/filter.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
	
	<!-- Google Adsense -->
	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<script>
		(adsbygoogle = window.adsbygoogle || []).push({
			google_ad_client: "ca-pub-adsenseid",
			enable_page_level_ads: true
		});
	</script>
  </head>

  <body>
  	<section class="container" id="loading">
  		<h1>LOADING... Please wait</h1>
  	</section>
  	
  	<section class="container">
		<div class="row">
			<div class="col-12">
				<div class="card">
					<div class="card-header">
						<h3>Patterns not played</h3>
					</div>
					<div class="card-body">
						<span>
							<script>document.write(txtNp.desc[lang]);</script>
						</span>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-12">
				<div class="card">
					<div class="card-header">
						<h3>Option Table</h3>
					</div>
					<div class="card-body">
						<!-- Filter and Orders -->
						<div id='filters' class='filters'>
							<div id='filterShowHide' class='filter-front'>
								<a href='#no_div' onclick='showfilter(1)'>
									<div>
										<h3>Show Option Table</h3>
										<script>document.write(text.other.filter[lang])</script>
									</div>
								</a>
							</div>
							<form id='filterform'>
								<div id='filter' style="display:none;">
									<div class='filter-front'>Level</div>
									<div class='filter-back div-table'>
										<div class='div-table-row'>
											<div class='div-table-cell filter-obj'>
												<label><input type='checkbox' name='lv[]' value='1'>1.0~</label>
											</div>
											<div class='div-table-cell filter-obj'>
												<label><input type='checkbox' name='lv[]' value='2'>1.5~</label>
											</div>
											<div class='div-table-cell filter-obj'>
												<label><input type='checkbox' name='lv[]' value='4'>2.0~</label>
											</div>
											<div class='div-table-cell filter-obj'>
												<label><input type='checkbox' name='lv[]' value='8'>2.5~</label>
											</div>
											<div class='div-table-cell filter-obj'>
												<label><input type='checkbox' name='lv[]' value='16'>3.0~</label>
											</div>
											<div class='div-table-cell filter-obj'>
												<label><input type='checkbox' name='lv[]' value='32'>3.5~</label>
											</div>
											<div class='div-table-cell filter-obj'>
												<label><input type='checkbox' name='lv[]' value='64'>4.0~</label>
											</div>
											<div class='div-table-cell filter-obj'>
												<label><input type='checkbox' name='lv[]' value='128'>4.5~</label>
											</div>
											<div class='div-table-cell filter-obj'>
												<label><input type='checkbox' name='lv[]' value='256'>5.0~</label>
											</div>
											<div class='div-table-cell filter-obj'>
												<label><input type='checkbox' name='lv[]' value='512'>5.5~</label>
											</div>
											<div class='div-table-cell filter-obj'>
												<label><input type='checkbox' name='lv[]' value='1024'>6.0~</label>
											</div>
											<div class='div-table-cell filter-obj'>
												<label><input type='checkbox' name='lv[]' value='2048'>6.5~</label>
											</div>
											<div class='div-table-cell filter-obj'>
												<label><input type='checkbox' name='lv[]' value='4096'>7.0~</label>
											</div>
											<div class='div-table-cell filter-obj'>
												<label><input type='checkbox' name='lv[]' value='8192'>7.5~</label>
											</div>
											<div class='div-table-cell filter-obj'>
												<label><input type='checkbox' name='lv[]' value='16384'>8.0~</label>
											</div>
											<div class='div-table-cell filter-obj'>
												<label><input type='checkbox' name='lv[]' value='32768'>8.5~</label>
											</div>
											<div class='div-table-cell filter-obj'>
												<label><input type='checkbox' name='lv[]' value='65536'>9.0~</label>
											</div>
											<div class='div-table-cell filter-obj'>
												<label><input type='checkbox' name='lv[]' value='131072'>9.5~</label>
											</div>
										</div>
									</div>
									<div class='filter-ver'>
										<div class='filter-front'>Version</div>
										<div class='div-table-row filter-back' id='verfilter'></div>
									</div>
									<div class='filter-hot'>
										<div class='filter-front'>Hot/Other</div>
										<div class='div-table-row filter-back'>
											<div class='div-table-cell filter-obj'>
												<label><input type='checkbox' name='hot[]' value='h'>Hot</label>
											</div>
											<div class='div-table-cell filter-obj'>
												<label><input type='checkbox' name='hot[]' value='o'>Other</label>
											</div>
										</div>
									</div>
									<div class='order'>
										<div class='filter-front'>Order</div>
										<div class='div-table-row filter-back'>
											<div class='div-table-cell filter-obj'>
												<label><input type='radio' name='order' value='titleasc'>Title ▲</label>
											</div>
											<div class='div-table-cell filter-obj'>
												<label><input type='radio' name='order' value='titledesc'>Title ▼</label>
											</div>
											<div class='div-table-cell filter-obj'>
												<label><input type='radio' name='order' value='verasc'>Version ▲</label>
											</div>
											<div class='div-table-cell filter-obj'>
												<label><input type='radio' name='order' value='verdesc'>Version ▼</label>
											</div>
											<div class='div-table-cell filter-obj'>
												<label><input type='radio' name='order' value='lvasc'>Level ▲</label>
											</div>
											<div class='div-table-cell filter-obj'>
												<label><input type='radio' name='order' value='lvdesc'>Level ▼</label>
											</div>
										</div>
									</div>
									<div class="text-center;">
										<div class='div-table-cell filter-obj'>
											<span id="gtype" th:attr="data-gtype=${gtype}"></span>
											<input class='btn btn-primary' th:onclick="|applyfilterNP('notplayed/'+document.getElementById('gtype').dataset.gtype+'/${userid}/${vertype}/1')|" type='button' value='Apply'>
										</div>
										<div class='div-table-cell filter-obj'>
											<input class='btn btn-primary' onclick='filterReset()' type='button' value='Reset'>
										</div>
									</div>
								</div>
							</form>
						</div>
						<!-- filter end -->
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-12">
				<div class="card">
					<div class="card-header">
						<h3>Select Type</h3>
					</div>
					<div class="card-body">
						<div class="col-12 btn-group btn-group-justified" role="group">
							<a class="btn btn-primary" th:href="|/notplayed/gf/${userid}/0/1|" style="width:100%">GF <script>document.write(txtNp.all[lang]);</script></a>
							<a class="btn btn-primary" th:href="|/notplayed/dm/${userid}/0/1|" style="width:100%">DM <script>document.write(txtNp.all[lang]);</script></a>
						</div>
						<div class="col-12 btn-group btn-group-justified" role="group">
							<a class="btn btn-primary" th:href="|/notplayed/gf/${userid}/1/1|" style="width:100%">GF <script>document.write(txtNp.ver[lang]);</script></a>
							<a class="btn btn-primary" th:href="|/notplayed/dm/${userid}/1/1|" style="width:100%">DM <script>document.write(txtNp.ver[lang]);</script></a>
						</div>
					</div>
				</div>
			</div>
		</div>

  		<div class="row">
			<div class="col-12">
				<div class="card">
					<div class="card-header">
						<h3>Non Play List</h3>
						<span th:if="${gtype=='gf'}">GuitarFreaks</span>
						<span th:if="${gtype=='dm'}">DrumMania</span>
					</div>
					<div class="card-body">
						<div class='div-table' id="playlist">
							<np-row v-for="np in nplist" v-bind:np="np"></np-row>
						</div>
						<div style='width:100%; text-align:center;'>
							<h3 id="empty"></h3>
						</div>
						<div class='row text-center' id="pager"></div>
					</div>
				</div>
			</div>
		</div>
  	</section>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
	<script src="/js/jquery-3.3.1.min.js"></script>
	<script src="/js/vue.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/function/skillfilter.js"></script>
    <script src="/function/filteranalyzer.js"></script>
    <script src="/function/version.js"></script>
    <script src="/function/pattern.js"></script>
	<script src="/function/pager.js"></script>
    <script src="/function/overall.js"></script>
    <script src="https://apis.google.com/js/platform.js?onload=gsignLoad" async defer></script>
    <div style='display:none'>
		<form action='/logout' id='logout' method='post'>
		</form>
	</div>

	<template id="np-template">
		<div class='div-table-row'>
			<div class='div-table-cell listimg'>
				<img style='width:75px; height:75px;' v-bind:src="np.imgsrc" onerror="this.src='/img/music/empty.jpg'" />
				<img style='width:75px;' v-bind:src="np.pattern" />
			</div>
			<div class='div-table-cell'>
				<div class='row'>
					<div class='col-12 text-left'>
						<a class='innerhref' style='font-size:125%' v-bind:href="np.link">
							{{ np.name }}
						</a><br/>
						<span>{{ np.lv }} / {{ np.ver }}</span>
					</div>
				</div>
			</div>
		</div>
	</template>

	<script th:inline="javascript">
	Vue.component('np-row', {
		template: '#np-template',
		props: {
			np: Object
		}
	});

	var userid = /*[[${userid}]]*/0;
	var gtype = /*[[${gtype}]]*/'';
	var vertype = /*[[${vertype}]]*/0;
	var page = /*[[${page}]]*/0;
	var lv = /*[[${lv}]]*/null;
	var order = /*[[${order}]]*/null;
	var ver = /*[[${ver}]]*/null;
	var hot = /*[[${hot}]]*/null;

	var vmNp = new Vue({
		el: '#playlist',
		data: {
			nplist: []
		},
		created: function() {
			var self = this;
			$.ajax(addrGen())
			.done(function(data) {
				var json = JSON.parse(data);
				for(var i = 0; i < json.music.length; i++) {
					var obj = {};
					var cur = json.music[i];

					obj.imgsrc = '/img/music/'+cur.id+'.jpg';
					obj.link = '/music/'+cur.id+'/'+userid;
					obj.name = cur.name;
					obj.pattern = getPatternImg600(cur.ptcode);
					obj.lv = (cur.lv/100).toFixed(2);
					obj.ver = GDVer[cur.version-1].sv;

					self.nplist.push(obj);
				}

				if(json == null || json.length == 0) {
					$("#empty").append(text.skill.tablehead.empty[lang]);
				}

				var baseurl = '/notplayed/'+gtype+'/'+userid+'/'+vertype+'/';
				var extvar = "";
				if(lv != null) {
					if(extvar == "") extvar += "?lv="+lv;
					else extvar += "&lv="+lv;
				}
				if(order != null) {
					if(extvar == "") extvar += "?order="+order;
					else extvar += "&order="+order;
				}
				if(ver != null) {
					if(extvar == "") extvar += "?ver="+ver;
					else extvar += "&ver="+ver;
				}
				if(hot != null) {
					if(extvar == "") extvar += "?hot="+hot;
					else extvar += "&hot="+hot;
				}
				$("#pager").append(createPager(page, json.pages, baseurl, extvar));

				$("#loading").hide();
			});
		}
	});
	// Filter
	$("#verfilter").append(generateVerFilter(true));
	
	function addrGen() {
		var baseurl = '/d/notplayed/'+gtype+'/'+userid+'/'+vertype+'/'+page;
		var extvar = "";
		if(lv != null) {
			if(extvar == "") extvar += "?lv="+lv;
			else extvar += "&lv="+lv;
		}
		if(order != null) {
			if(extvar == "") extvar += "?order="+order;
			else extvar += "&order="+order;
		}
		if(ver != null) {
			if(extvar == "") extvar += "?ver="+ver;
			else extvar += "&ver="+ver;
		}
		if(hot != null) {
			if(extvar == "") extvar += "?hot="+hot;
			else extvar += "&hot="+hot;
		}
		return baseurl + extvar;
	}
	
	$(function() {
		var fa = new filteranalyzer();
		fa.getLevel(lv);
		fa.getVersion(ver);
		fa.getHot(hot);
		fa.getOrder(order);
	});
	</script>
	<div th:insert="header :: header"></div>
	<div th:insert="footer :: footer"></div>
	<script src="/function/menu.js"></script>
  </body>
</html>
